<div
  [@inOutAnimation]
  class="flex flex-row items-center bg-primary p-4 rounded-lg neomorphism-primaryDarker m-8 lg:mx-32 text-white"
  role="status"
  *ngIf="loading == true"
>
  <app-loading-spinner></app-loading-spinner>
  Chargement des données...
</div>

<div
  class="flex flex-col lg:flex-row lg:space-x-8 text-white m-8 lg:mx-32"
  [@inOutAnimation]
  *ngIf="loading == false && five != null"
>
  <div class="w-full lg:w-1/3 xl:w-1/4">
    <div class="bg-primary p-4 rounded-lg flex flex-col items-center">
      <img
        class="rounded-full neomorphism-primary mt-4"
        src="assets/img/fifa/teams/115519.png"
        width="128"
      />

      <div class="text-center w-full">
        <span class="block mt-2" *ngIf="five.name != null">{{
          five.name
        }}</span>
        <span class="block mt-2" *ngIf="five.name == null">Soccer five</span>
        <div
          class="flex flex-col justify-center align-center items-center mt-2"
        >
          <span
            class="flex flex-raw justify-center items-center text-xs px-4 rounded-xl"
            [class.bg-gray-600]="five.state == 0"
            [class.bg-customGreen]="five.state == 1"
            [class.bg-green-800]="five.state == 3"
          >
            {{ getState(five.state) }}
          </span>
        </div>
        <span class="block mt-2 text-xs mt-2" *ngIf="five.plannedOn != null">
          📅 {{ five.plannedOn }}
        </span>
        <span class="block mt-2 text-xs mt-2" *ngIf="five.plannedOn == null">
          📅 Pas encore planifié
        </span>
      </div>
    </div>

    <div
      *ngIf="five.description != null"
      class="flex flex-col justify-around bg-primary neomorphism-primaryDarker-2 mt-4 p-4 rounded-lg mb-4 space-y-4"
    >
      <div
        class="flex flex-col items-center bg-primaryDarker neomorphism-inner-primaryDarker rounded-lg p-4 text-xs text-justift"
      >
        {{ five.description }}
      </div>
    </div>

    <div
      *ngIf="five.createdBy.id == currentUserId"
      class="flex flex-col justify-around bg-primary neomorphism-primaryDarker-2 mt-4 p-4 rounded-lg mb-4 space-y-4"
    >
      <div class="flex flex-row space-x-2 items-center justify-center">
        <fa-icon
          [icon]="pencilIcon"
          class="rounded-full border border-secondary px-4 py-3"
        ></fa-icon>
        <span class="text">Modifier Five</span>
      </div>

      <div
        class="flex flex-col items-center bg-primaryDarker neomorphism-inner-primaryDarker rounded-lg p-4 text-xs text-justift"
      >
        <form [formGroup]="editFiveForm" class="w-full flex flex-col pt-4">
          <div class="relative z-0 w-full bg-primaryDarker rounded-lg">
            <input
              type="text"
              id="nameLabel"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="name"
            />
            <label
              for="nameLabel"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Nom
            </label>
          </div>

          <div class="relative z-0 w-full bg-primaryDarker rounded-lg mt-4">
            <input
              type="text"
              id="descLabel"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="description"
            />
            <label
              for="descLabel"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Description
            </label>
          </div>

          <div class="relative z-0 w-full bg-primaryDarker rounded-lg mt-4">
            <input
              type="date"
              id="dateLabel"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="date"
            />
            <label
              for="dateLabel"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Date de planification
            </label>
          </div>

          <div class="relative z-0 w-full bg-primaryDarker rounded-lg mt-4">
            <input
              type="time"
              id="timeLabel"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="time"
            />
            <label
              for="timeLabel"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Heure de planification
            </label>
          </div>

          <div class="relative z-0 w-full bg-primaryDarker rounded-lg mt-4">
            <select
              id="state"
              formControlName="state"
              class="mt-2 bg-gray-800/40 border border-secondary text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
              <option value="0">Brouillon</option>
              <option value="1">Planifié</option>
              <option value="2">Terminé</option>
            </select>
          </div>
        </form>
      </div>

      <div
        (click)="updateFive()"
        class="mb-4 flex flex-row space-x-2 justify-center cursor-pointer p-2 rounded-lg transition ease-in-out delay-50 bg-customGreen hover:bg-green-800 mt-4 neomorphism-primaryDarker-2"
      >
        <span class="text-white">Modifier le five</span>
      </div>
    </div>

    <div
      *ngIf="five.createdBy.id == currentUserId"
      class="flex flex-col justify-around bg-primary neomorphism-primaryDarker-2 mt-4 p-4 rounded-lg mb-4 space-y-4"
    >
      <div class="flex flex-row space-x-2 items-center justify-center">
        <fa-icon
          [icon]="surveyIcon"
          class="rounded-full border border-secondary px-4 py-3"
        ></fa-icon>
        <span class="text">Modifier sondage</span>
      </div>

      <div
        class="flex flex-col items-center bg-primaryDarker neomorphism-inner-primaryDarker rounded-lg p-4 text-xs text-justift"
      >
        <form [formGroup]="triggerSurveyForm" class="w-full flex flex-col pt-4">
          <div class="relative z-0 w-full bg-primaryDarker rounded-lg">
            <input
              type="text"
              id="questionLabel"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="questionLabel"
              required
            />
            <label
              for="questionLabel"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Question
              <span class="text-customRed">*</span>
            </label>
          </div>
        </form>

        <span class="underline mt-4">Réponses possibles :</span>

        <div class="w-full flex flex-col pt-4">
          <div
            *ngFor="let choice of soccerFiveVoteChoices"
            class="flex flex-row space-x-4"
          >
            <div class="relative z-0 w-full mb-6 group">
              <input
                type="Label"
                id="choiceLabel"
                [(ngModel)]="choice.label"
                class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
                required
              />
              <label
                for="choiceLabel"
                class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >
                Label
                <span class="text-customRed">*</span>
              </label>
            </div>

            <div class="relative z-0 w-full mb-6 group">
              <input
                type="number"
                id="order"
                min="0"
                [(ngModel)]="choice.order"
                class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
                required
              />
              <label
                for="order"
                class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >
                Ordre
                <span class="text-customRed">*</span>
              </label>
            </div>

            <div
              (click)="removeChoice(choice)"
              class="relative z-0 w-16 mb-6 group flex align-center items-center justify-center"
            >
              <img src="assets/img/svg/trash.svg" class="w-8" />
            </div>
          </div>

          <div
            (click)="addChoice()"
            class="mb-4 flex flex-row space-x-2 justify-center cursor-pointer p-2 rounded-lg transition ease-in-out delay-50 border border-customGreen hover:bg-green-800 mt-4 neomorphism-primaryDarker-2"
          >
            <span class="text-white">Ajouter une réponse</span>
          </div>
        </div>
      </div>

      <div
        (click)="updateSurvey()"
        class="mb-4 flex flex-row space-x-2 justify-center cursor-pointer p-2 rounded-lg transition ease-in-out delay-50 bg-customGreen hover:bg-green-800 mt-4 neomorphism-primaryDarker-2"
      >
        <span class="text-white">Modifier le sondage</span>
      </div>
    </div>

    <div
      *ngIf="five.voteQuestion != null"
      class="flex flex-col justify-around bg-primary neomorphism-primaryDarker-2 mt-4 p-4 rounded-lg mb-4 space-y-4"
    >
      <div class="flex flex-row space-x-2 items-center justify-center">
        <fa-icon
          [icon]="surveyIcon"
          class="rounded-full bg-secondary px-4 py-3"
        ></fa-icon>
        <span class="text">{{ five.voteQuestion }}</span>
      </div>

      <div
        class="flex flex-col items-left bg-primaryDarker neomorphism-inner-primaryDarker rounded-lg p-4 space-y-8"
        *ngIf="soccerFiveVoteChoices != null"
      >
        <div
          *ngFor="let choice of soccerFiveVoteChoices"
          (click)="updateVote(choice)"
          class="cursor-pointer flex flex-col"
        >
          <div class="flex justify-between">
            <div>
              <fa-icon
                [icon]="circleIcon"
                class="text-frenchRed text-xl"
                *ngIf="choice.voteStatus == false || choice.voteStatus == null"
              ></fa-icon>
              <fa-icon
                [icon]="checkIcon"
                class="text-customGreen text-xl"
                *ngIf="choice.voteStatus == true"
              ></fa-icon>
            </div>

            <div class="grow">
              <span class="ml-4">{{ choice.label }}</span>
            </div>

            <div
              class="flex flex-row justify-center align-center items-center space-x-2"
            >
              <div *ngIf="choice.answers != null" class="flex flex-row">
                <img
                  *ngFor="let answer of choice.answers"
                  src="{{
                    answer.player.profilePictureUrl ??
                      'assets/img/gameon-logo.webp'
                  }}"
                  class="w-6 rounded-full"
                />
              </div>

              <span>{{ choice.answers?.length || 0 }}</span>
            </div>
          </div>

          <div
            class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mt-2"
          >
            <div
              class="bg-blue-600 h-2.5 rounded-full"
              style="width: {{ choice.percentage }}%"
            ></div>
          </div>
        </div>

        <div
          *ngIf="isLoggedIn == true"
          (click)="vote()"
          class="mb-4 flex flex-row space-x-2 justify-center cursor-pointer p-2 rounded-lg transition ease-in-out delay-50 bg-customGreen hover:bg-green-800 mt-4 neomorphism-primaryDarker-2"
        >
          <span class="text-white">Voter !</span>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col w-full mt-8 lg:mt-0">
    <div
      *ngIf="loading == false"
      class="flex flex-col lg:flex-row justify-around p-4 border border-customRed rounded-lg mb-4"
    >
      Cette fonctionnalité est en cours de développement.
    </div>
  </div>
</div>
