<section class="bg-bgDarker space-x-4 px-4">
  @if (loading == true) {
    <app-loading-spinner></app-loading-spinner>
  }

  @if (loading == false && changelog.id != 0) {
    <app-common-page-header
      [icon]="changelogIcon"
      [title]="'Version ' + changelog.version"
    ></app-common-page-header>
  }

  @if (loading == false && changelog.id != 0) {
    <div
      class="animate-fade flex flex-col items-center"
      >
      <form
        [formGroup]="updateChangelogForm"
        class="flex w-full flex-col space-y-4"
        >
        <div class="bg-bgLight dark:bg-bgDark rounded-lg p-8">
          <div class="group relative z-0 mb-6 w-full">
            <input
              type="text"
              id="name"
              class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
              formControlName="name"
              />
            <label
              for="name"
              class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
              >
              Nom
            </label>
          </div>
          <div class="group relative z-0 mb-6 w-full">
            <input
              type="text"
              id="version"
              class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
              formControlName="version"
              />
            <label
              for="version"
              class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
              >
              Version
              <span class="text-customRed">*</span>
            </label>
          </div>
          <div class="group relative z-0 mb-6 w-full">
            <input
              type="text"
              id="context"
              class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
              formControlName="context"
              />
            <label
              for="context"
              class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
              >
              Contexte
            </label>
          </div>
          <div class="group relative z-0 mb-6 w-full">
            <label
              for="type"
              class="text-primary dark:text-primaryDark mb-2 block text-sm font-medium"
              >
              Type
            </label>
            <select
              id="type"
              formControlName="type"
              class="border-secondary block w-full rounded-lg border bg-gray-800/40 p-2.5 text-sm text-white focus:border-blue-500 focus:ring-blue-500"
              >
              <option value="0">Majeure</option>
              <option value="1">Mineure</option>
              <option value="2">Correction de bugs</option>
            </select>
          </div>
          <div class="group relative z-0 mt-6 mb-6 w-full">
            <label
              for="published"
              class="mb-2 block scale-100 text-sm font-medium text-white"
              >
              Publié ?
            </label>
            <input type="checkbox" formControlName="published" />
          </div>
        </div>
      </form>
      <div class="mt-4 flex w-full flex-col space-y-4">
        <div class="flex flex-col">
          <div
            class="text-primary dark:text-primaryDark flex justify-between text-lg font-semibold"
            >
            <span class="">Nouveautés</span>
            <fa-icon
              [icon]="plusIcon"
              class="cursor-pointer text-green-400"
              (click)="add('new')"
            ></fa-icon>
          </div>
          @for (
            newFeature of changelog.newFeatures; track trackByIdxNew(i,
            newFeature); let i = $index) {
            <div
              class="bg-bgLight dark:bg-bgDark mt-4 flex space-x-4 rounded-lg p-4"
              >
              @if (changelog.newFeatures != null) {
                <input
                  type="text"
                  [(ngModel)]="changelog.newFeatures[i]"
                  class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
                  />
              }
              <div
                class="align-center align-center flex cursor-pointer items-center justify-center"
                (click)="remove('new', i)"
                >
                <fa-icon [icon]="minusIcon" class="text-red-400"></fa-icon>
              </div>
            </div>
          }
        </div>
        <div class="flex flex-col">
          <div
            class="text-primary dark:text-primaryDark flex justify-between text-lg font-semibold"
            >
            <span class="">Changements</span>
            <fa-icon
              [icon]="plusIcon"
              class="cursor-pointer text-yellow-400"
              (click)="add('updated')"
            ></fa-icon>
          </div>
          @for (
            updated of changelog.updatedFeatures; track trackByIdxUpdated(i,
            updated); let i = $index) {
            <div
              class="bg-bgLight dark:bg-bgDark mt-4 flex space-x-4 rounded-lg p-4"
              >
              @if (changelog.updatedFeatures != null) {
                <input
                  type="text"
                  [(ngModel)]="changelog.updatedFeatures[i]"
                  class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
                  />
              }
              <div
                class="align-center align-center flex cursor-pointer items-center justify-center"
                (click)="remove('updated', i)"
                >
                <fa-icon [icon]="minusIcon" class="text-red-400"></fa-icon>
              </div>
            </div>
          }
        </div>
        <div class="flex flex-col">
          <div
            class="text-primary dark:text-primaryDark flex justify-between text-lg font-semibold"
            >
            <span class="">Suppressions</span>
            <fa-icon
              [icon]="plusIcon"
              class="cursor-pointer text-red-400"
              (click)="add('removed')"
            ></fa-icon>
          </div>
          @for (
            removed of changelog.removedFeatures; track trackByIdxRemoved(i,
            removed); let i = $index) {
            <div
              class="bg-bgLight dark:bg-bgDark mt-4 flex space-x-4 rounded-lg p-4"
              >
              @if (changelog.removedFeatures != null) {
                <input
                  type="text"
                  [(ngModel)]="changelog.removedFeatures[i]"
                  class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
                  />
              }
              <div
                class="align-center align-center flex cursor-pointer items-center justify-center"
                (click)="remove('removed', i)"
                >
                <fa-icon [icon]="minusIcon" class="text-red-400"></fa-icon>
              </div>
            </div>
          }
          <button
            (click)="updateChangelog()"
            class="mt-4 w-full rounded-lg bg-yellow-400 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-400 focus:outline-none"
            >
            Modifier le changelog
          </button>
          <button
            (click)="deleteChangelog()"
            class="mt-4 w-full rounded-lg bg-red-400 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:ring-4 focus:ring-red-400 focus:outline-none"
            >
            Supprimer le changelog
          </button>
        </div>
      </div>
    </div>
  }
</section>
