<div
  class="flex flex-col md:flex-row justify-around grow items-center md:space-x-8">
  <div class="h-full text-center">
    <img class="rounded-full max-h-64" src="{{ player.profilePictureUrl }}" />
  </div>

  <div class="md:w-96 mt-4 md:mt-0">
    <div class="text-center" *ngIf="player.nickname != null">
      <span class="block text-xl font-bold">
        {{ player.nickname }}
      </span>

      <span class="block">
        {{ player.fullName }}
      </span>
    </div>

    <div class="text-center" *ngIf="player.nickname == null">
      <span class="block text-xl font-bold">
        {{ player.fullName }}
      </span>
    </div>

    <hr class="my-4 border-dashed" />

    <ul class="mt-4">
      <li>
        <fa-icon [icon]="calendarIcon"></fa-icon>
        : {{ date }}
      </li>
      <li>Buts moyens : {{ averageGoals }}</li>
      <li>
        Différence globale :
        {{ player.totalGoalDifference }}
      </li>
    </ul>

    <div class="mt-4">
      <span class="block">Victoires : {{ player.wins }}</span>

      <div class="w-full bg-white rounded-full h-4 mb-4">
        <div
          class="bg-secondary text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full h-4"
          style="width: {{ winRate }}%">
          {{ winRate }}%
        </div>
      </div>

      <span class="block">Défaites : {{ player.losses }}</span>

      <div class="w-full bg-white rounded-full h-4 mb-4">
        <div
          class="bg-csharp text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full h-4"
          style="width: {{ looseRate }}%">
          {{ looseRate }}%
        </div>
      </div>

      <span class="block">Matchs nuls : {{ player.draws }}</span>
      <div class="w-full bg-white rounded-full h-4 mb-4">
        <div
          class="bg-azure text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full h-4"
          style="width: {{ drawRate }}%">
          {{ drawRate }}%
        </div>
      </div>
    </div>
  </div>
</div>
