<div
  class="animate-fade flex cursor-pointer items-center justify-between"
  routerLink="/changelog"
>
  <div class="flex items-center justify-center space-x-2">
    <fa-icon
      [icon]="updateIcon"
      class="text-primary dark:text-primaryDark cursor-pointer"
    ></fa-icon>

    <span class="text-primary dark:text-primaryDark text-lg font-semibold"
      >Nouveautés</span
    >
  </div>

  <app-loading-spinner-tiny *ngIf="loading == true"></app-loading-spinner-tiny>
</div>

<app-changelog-card
  [changelog]="changelog"
  [loading]="loading"
></app-changelog-card>
