<div
  class="animate-fade flex cursor-pointer items-center justify-between px-4"
  routerLink="/changelog"
>
  <div class="flex items-center justify-center space-x-2">
    <fa-icon
      [icon]="updateIcon"
      class="text-primary dark:text-primaryDark cursor-pointer"
    ></fa-icon>

    <span class="text-primary dark:text-primaryDark text-lg font-semibold"
      >Nouveautés</span
    >
  </div>

  <app-loading-spinner-tiny
    *ngIf="loading == true && error == false"
  ></app-loading-spinner-tiny>
</div>

<app-info-message
  [type]="'error'"
  [title]="'Une erreur est survenue lors de la récupération des nouveautés.'"
  *ngIf="error == true"
></app-info-message>

<div class="px-4" *ngIf="error == false">
  <app-changelog-card
    [changelog]="changelog"
    [loading]="loading"
  ></app-changelog-card>
</div>
