<section class="h-screen bg-bgDarker px-4 pt-4">
  <app-loading-spinner
    [@inOutAnimation]
    *ngIf="loading == true"
  ></app-loading-spinner>

  <app-common-page-header
    [icon]="tournamentIcon"
    [title]="'Tournois'"
    [@inOutAnimation]
  ></app-common-page-header>

  <a
    class="flex flex-row space-x-2 justify-center cursor-pointer p-2 rounded-full transition ease-in-out delay-50 bg-customGreen hover:bg-green-800 mt-4"
    *ngIf="loading == false"
    routerLink="/admin/tournaments/create"
  >
    <div
      class="rounded-full bg-secondary w-8 flex flex-col items-center justify-center"
    >
      +
    </div>
    <span class="text-white">Créer un tournoi</span>
  </a>

  <div class="mt-4 overflow-x-auto" *ngIf="loading == false">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-300">
      <thead class="text-xs text-gray-700 dark:text-gray-400 text-center">
        <tr>
          <th scope="col" class="px-6 py-3">Nom</th>
          <th scope="col" class="px-6 py-3">Du</th>
          <th scope="col" class="px-6 py-3">Au</th>
          <th scope="col" class="px-6 py-3">État</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b"
          *ngFor="let tournament of tournaments"
        >
          <th
            class="px-6 py-4 font-medium text-gray-900 dark:text-gray-300 whitespace-nowrap text-center"
          >
            {{ tournament.name }}
          </th>

          <th
            class="px-6 py-4 font-medium text-gray-900 dark:text-gray-300 whitespace-nowrap text-center"
          >
            {{ tournament.plannedFrom.toString().split("T")[0] }}
          </th>

          <th
            class="px-6 py-4 font-medium text-gray-900 dark:text-gray-300 whitespace-nowrap text-center"
          >
            {{ tournament.plannedTo.toString().split("T")[0] }}
          </th>

          <th
            class="px-6 py-4 font-medium text-gray-900 dark:text-gray-300 whitespace-nowrap text-center"
          >
            {{ getState(tournament.state) }}
          </th>
          <td class="px-6 py-4 flex flex-row justify-center space-x-2">
            <fa-icon
              [icon]="editIcon"
              class="text-xl text-primary dark:text-primaryDark cursor-pointer"
              [routerLink]="['/admin/tournaments/edit', tournament.id]"
            ></fa-icon>

            <button
              *ngIf="tournament.state < 2"
              (click)="goToPhase1(tournament.id)"
            >
              P1
            </button>

            <fa-icon
              *ngIf="tournament.state == 2"
              (click)="savePhase1Score(tournament.id)"
              [icon]="saveIcon"
              class="text-xl text-primary dark:text-primaryDark cursor-pointer"
            ></fa-icon>

            <fa-icon
              [icon]="trashIcon"
              class="text-xl text-frenchRed cursor-pointer"
              (click)="delete(tournament.id)"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
