<div class="px-4 mt-4" *ngIf="loading == true">
  <app-loading-spinner></app-loading-spinner>
</div>

<section
  id="header-pills"
  class="p-4 overflow-x-scroll [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-bgLightDarker dark:[&::-webkit-scrollbar-track]:bg-bgDarkDarker [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
  *ngIf="loading == false && player != null"
>
  <div class="flex flex-row flex-nowrap whitespace-nowrap w-full space-x-2">
    <app-pill
      *ngIf="player.archived == true"
      [title]="'Archivé'"
      [bgStyle]="'gray'"
      [borderStyle]="'gray'"
    ></app-pill>
  </div>
</section>

<section
  id="player-detail-card"
  class="px-4 flex space-x-4"
  *ngIf="loading == false && player != null"
>
  <div
    class="bg-bgLight dark:bg-bgDark p-4 rounded-lg flex justify-evenly items-center align-middle drop-shadow-lg w-2/3"
  >
    <img
      class="rounded-full drop-shadow-lg"
      *ngIf="player.profilePictureUrl != null && player.profilePictureUrl != ''"
      src="{{ player.profilePictureUrl }}"
      width="64"
    />

    <img
      class="rounded-full drop-shadow-lg"
      *ngIf="player.profilePictureUrl == null || player.profilePictureUrl == ''"
      src="assets/img/gameon-logo.webp"
      width="64"
    />

    <div class="flex flex-col">
      <span class="text-xl font-semibold text-primary dark:text-primaryDark">{{
        player.fullName
      }}</span>

      <div
        class="flex justify-start items-center text-gray-500 dark:text-gray-400"
      >
        <img
          src="assets/img/svg/lol.svg"
          class="w-8 h-8"
          *ngIf="player.riotGamesPUUID != null"
        />
        <span class="text-xs" *ngIf="player.riotGamesPUUID != null"
          >{{ player.riotGamesNickname }}#{{ player.riotGamesTagLine }} - niveau
          {{ player.lolSummonerLevel }}</span
        >
      </div>
    </div>
  </div>

  <div
    class="bg-bgLight dark:bg-bgDark p-4 rounded-lg flex justify-evenly items-center align-middle drop-shadow-lg w-1/3 cursor-pointer flex-col text-primary dark:text-primaryDark"
    (click)="refreshSummoner()"
  >
    <fa-icon [icon]="refreshIcon" class="text-2xl"></fa-icon>

    <span class="text-xs">{{ player.lolRefreshedOn | date : "short" }}</span>
  </div>
</section>

<section
  id="player-rank"
  class="px-4 mt-4 flex space-x-4"
  *ngIf="loading == false && player != null"
>
  <div
    class="w-1/2 bg-bgLight dark:bg-bgDark p-4 rounded-lg flex justify-evenly items-center align-middle drop-shadow-lg flex-col space-y-2 animate-fade-right"
  >
    <img
      src="assets/img/gameon-logo.webp"
      *ngIf="player.leagueOfLegendsSoloRank == null"
      class="w-32 animate-fade-right"
    />

    <img
      *ngIf="player.leagueOfLegendsSoloRank != null"
      src="assets/img/lol/rank/{{
        player.leagueOfLegendsSoloRank.tier | lowercase
      }}.png"
      class="w-32 h-32"
    />

    <app-pill [title]="'Solo 5v5'" [bgStyle]="'secondary'"></app-pill>

    <span
      class="text-primary dark:text-primaryDark animate-fade-right"
      *ngIf="player.leagueOfLegendsSoloRank == null"
      >Non classé</span
    >

    <span
      class="text-primary dark:text-primaryDark animate-fade-right"
      *ngIf="player.leagueOfLegendsSoloRank != null"
      >{{ player.leagueOfLegendsSoloRank.tier | titlecase }}
      {{ player.leagueOfLegendsSoloRank.rank }} -
      {{ player.leagueOfLegendsSoloRank.leaguePoints }} LP</span
    >
  </div>

  <div
    class="w-1/2 bg-bgLight dark:bg-bgDark p-4 rounded-lg flex justify-evenly items-center align-middle drop-shadow-lg flex-col space-y-2 animate-fade-right"
  >
    <img
      src="assets/img/gameon-logo.webp"
      *ngIf="player.leagueOfLegendsFlexRank == null"
      class="w-32 animate-fade-right"
    />

    <img
      *ngIf="player.leagueOfLegendsFlexRank != null"
      src="assets/img/lol/rank/{{
        player.leagueOfLegendsFlexRank.tier | lowercase
      }}.png"
      class="w-32 h-32"
    />

    <app-pill [title]="'Flex 5v5'" [bgStyle]="'green'"></app-pill>

    <span
      class="text-primary dark:text-primaryDark animate-fade-right"
      *ngIf="player.leagueOfLegendsFlexRank == null"
      >Non classé</span
    >

    <span
      class="text-primary dark:text-primaryDark animate-fade-right"
      *ngIf="player.leagueOfLegendsFlexRank != null"
      >{{ player.leagueOfLegendsFlexRank.tier | titlecase }}
      {{ player.leagueOfLegendsFlexRank.rank }} -
      {{ player.leagueOfLegendsFlexRank.leaguePoints }} LP</span
    >
  </div>
</section>

<section
  id="player-stats"
  class="m-4 p-4 bg-bgLight dark:bg-bgDark rounded-lg drop-shadow-lg"
>
  <canvas id="myChart"></canvas>
</section>
