<div class="flex flex-row justify-center mt-8">
  <div
    class="flex flex-row items-center p-4 rounded-lg bg-primary"
    *ngIf="loading == true"
  >
    <app-loading-spinner></app-loading-spinner>
    <span class="text-white">Chargement...</span>
  </div>

  <div
    class="flex flex-row space-x-2 align-center items-center justify-center p-4 rounded-lg bg-primary w-2/3"
    *ngIf="loading == false && tournament != null"
  >
    <div
      class="rounded-full bg-customYellow p-4 flex flex-col align-center items-center justify-center"
    >
      <img src="../../../../assets/img/trophee.svg" class="w-8" />
    </div>
    <span class="text-white">Éditer {{ tournament.name }}</span>
  </div>
</div>

<div
  class="flex flex-col items-center mt-4"
  *ngIf="loading == false && tournament != null"
>
  <form
    [formGroup]="editTournamentForm"
    class="mt-6 bg-primary p-8 rounded-lg w-2/3"
  >
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        id="name"
        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        formControlName="name"
        maxlength="100"
      />
      <label
        for="name"
        class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Nom
        <span class="text-customRed">*</span>
      </label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <textarea
        type="text"
        id="description"
        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        formControlName="description"
        maxlength="5000"
        required
      ></textarea>
      <label
        for="description"
        class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Description
      </label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <label for="team1" class="block mb-2 text-sm font-medium text-white">
        État
      </label>
      <select
        id="state"
        formControlName="state"
        class="bg-gray-800/40 border border-secondary text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option *ngFor="let state of states" value="{{ state.value }}" selected>
          {{ state.label }}
        </option>
      </select>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        id="logoUrl"
        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        formControlName="logoUrl"
        maxlength="3000"
        required
      />
      <label
        for="logoUrl"
        class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        URL du logo
      </label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input
        type="date"
        id="plannedFrom"
        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        formControlName="plannedFrom"
      />
      <label
        for="plannedFrom"
        class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Planifié du
        <span class="text-customRed">*</span>
      </label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input
        type="date"
        id="plannedTo"
        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        formControlName="plannedTo"
      />
      <label
        for="plannedTo"
        class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Au
        <span class="text-customRed">*</span>
      </label>
    </div>

    <button
      (click)="editTournament()"
      class="text-white bg-customYellow hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-customYellow font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
    >
      Modifier
    </button>
  </form>
</div>
