<section id="top-card" class="px-4 pt-4">
  <app-common-page-header
    [lol]="true"
    [title]="'League of Legends'"
  ></app-common-page-header>
</section>

<section id="lol-messages">
  <app-info-message
    *ngIf="isLoggedIn == false"
    [title]="
      'Connectez-vous pour ajouter votre identifiant Riot Games et apparaître dans la liste !'
    "
    [clickable]="true"
    (click)="login()"
  ></app-info-message>

  <div *ngIf="isLoggedIn == true && (player$ | async) as currentPlayer">
    <app-info-message
      *ngIf="currentPlayer.lolSummonerId == null"
      [title]="
        'Vous n\'avez pas encore ajouté votre identifiant Riot Games. Ajoutez-le pour apparaître dans la liste !'
      "
    ></app-info-message>
  </div>
</section>

<section id="home-players" class="px-4 mt-4 py-4 animate-fade-up">
  <div class="flex justify-between items-center">
    <span class="text-lg font-semibold text-primary dark:text-primaryDark"
      >Joueurs League of Legends actifs</span
    >

    <app-loading-spinner-tiny
      *ngIf="isLoading == true"
    ></app-loading-spinner-tiny>
  </div>

  <div *ngIf="isLoading == false" class="mt-4">
    <app-lol-player-card
      ng-if="players.length > 0"
      *ngFor="let player of leaguePlayers"
      [player]="player"
    ></app-lol-player-card>
  </div>
</section>
