<section id="top-card" class="px-4 mt-4">
  <app-loading-spinner
    *ngIf="loading == true"
    [@inOutAnimation]
  ></app-loading-spinner>

  <div *ngIf="loading == false" [@inOutAnimation]>
    <div
      class="justify-center flex flex-row items-center border border-l-2 border-r-2 border-l-frenchBlue border-t-white border-b-white border-r-frenchRed p-4 rounded-full drop-shadow-lg mt-4 bg-gray-50"
    >
      <fa-icon [icon]="changelogIcon" class="text-2xl"></fa-icon>
      <span class="text-2xl ml-4">Changelog</span>
    </div>

    <div
      *ngFor="let changelog of changelogs"
      class="flex flex-col bg-white p-4 rounded-lg text-primary mb-4 border border-gray-300 mt-4 drop-shadow-lg"
    >
      <div class="flex flex-row items-center">
        <div class="flex justify-center items-center">
          <span
            class="rounded-full px-4 text-sm border text-primary"
            [ngClass]="{
              'border-gray-300': changelog.type == 2,
              'border-green-500': changelog.type == 1,
              'border-red-600': changelog.type == 0
            }"
          >
            {{ changelog.version }}
          </span>
        </div>

        <span *ngIf="changelog.name != null" class="ml-4 text-sm">{{
          changelog.name
        }}</span>
      </div>

      <div class="flex flex-col mt-4" *ngIf="changelog.context != null">
        <span class="font-semibold">Contexte :</span>

        <span class="text-sm">{{ changelog.context }}</span>
      </div>

      <div class="flex flex-col mt-4" *ngIf="changelog.newFeatures != null">
        <span class="font-semibold text-green-600">Nouveautés :</span>

        <ul>
          <li class="text-sm" *ngFor="let feature of changelog.newFeatures">
            + {{ feature }}
          </li>
        </ul>
      </div>

      <div class="flex flex-col mt-4" *ngIf="changelog.updatedFeatures != null">
        <span class="font-semibold text-yellow-600">Mises à jour :</span>

        <ul>
          <li class="text-sm" *ngFor="let feature of changelog.updatedFeatures">
            * {{ feature }}
          </li>
        </ul>
      </div>

      <div class="flex flex-col mt-4" *ngIf="changelog.removedFeatures != null">
        <span class="font-semibold text-red-600">Suppressions :</span>

        <ul>
          <li class="text-sm" *ngFor="let feature of changelog.removedFeatures">
            - {{ feature }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
