<div
  class="flex flex-row justify-center items-center bg-primary neomorphism-primaryDarker-2 p-4 rounded-lg text-white space-x-2 m-8 lg:mx-32"
>
  <div
    class="rounded-full bg-secondary p-2 flex flex-col items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#e8eaed"
    >
      <path
        d="M480-120q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-480q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q82 0 155.5 35T760-706v-94h80v240H600v-80h110q-41-56-101-88t-129-32q-117 0-198.5 81.5T200-480q0 117 81.5 198.5T480-200q105 0 183.5-68T756-440h82q-15 137-117.5 228.5T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"
      />
    </svg>
  </div>

  <span class="text-white">Changelog</span>
</div>

<div
  class="flex flex-col bg-primary neomorphism-primaryDarker-2 p-4 rounded-lg text-white space-x-2 m-8 lg:mx-32"
>
  <div class="flex">
    <div
      class="rounded-full bg-white text-black px-3 text-sm flex justify-center items-center"
    >
      <span>3.0.3</span>
    </div>

    <span class="ml-4 text-white">Rattrapage des équipes</span>
  </div>

  <div class="flex flex-col mt-4">
    <span class="underline text-customGreen">Nouveautés :</span>

    <ul>
      <li>
        - Mise à jour du référentiel des équipes (nom + images) pour récupérer
        les nouveautées
      </li>
      <li>
        - Suppression des équipes en double (sans matchs joués) de la base de
        données
      </li>
    </ul>
  </div>
</div>

<div
  class="flex flex-col bg-primary neomorphism-primaryDarker-2 p-4 rounded-lg text-white space-x-2 m-8 lg:mx-32"
>
  <div class="flex">
    <div
      class="rounded-full bg-white text-black px-3 text-sm flex justify-center items-center"
    >
      <span>3.0.2</span>
    </div>

    <span class="ml-4 text-white">Sweet Victory!</span>
  </div>

  <div class="flex flex-col mt-4">
    <span class="underline">Contexte :</span>

    <span
      >Certaines personnes ont exprimé leur frustration de ne pas avoir de
      rappel de leur victoire en tournoi.</span
    >

    <span class="underline text-customGreen mt-4">Nouveautés :</span>

    <ul>
      <li>- Ajout de la notion de "Gagnant" dans les tournois</li>
      <li>
        - Sur la page d'accueil, et de détail de compte utilisateur, des étoiles
        sont affichées pour indiquer le nombre de tournois gagnés
      </li>
    </ul>

    <span class="underline text-frenchBlue mt-4">Modifications :</span>

    <ul>
      <li>- Refonte / ajout de nouvelles plateformes</li>
    </ul>
  </div>
</div>

<div
  class="flex flex-col bg-primary neomorphism-primaryDarker-2 p-4 rounded-lg text-white space-x-2 m-8 lg:mx-32"
>
  <div class="flex">
    <div
      class="rounded-full bg-white text-black px-3 text-sm flex justify-center items-center"
    >
      <span>3.0.1</span>
    </div>

    <span class="ml-4 text-white">Archive des comptes</span>
  </div>

  <div class="flex flex-col mt-4">
    <span class="underline">Contexte :</span>

    <span
      >Depuis la première release de GameOn (et YuGames), certains joueurs ont
      quitté le dispositif. Dans un besoin de conservation des statistiques, un
      mécanisme d'archive devait être mis en place.</span
    >

    <span class="underline text-customGreen mt-4">Nouveautés :</span>

    <ul>
      <li>
        - Ajout de la notion d'archive des comptes (les utilisateurs archivés ne
        sont plus disponibles dans la création des matchs, mais encore
        disponibles dans les historiques.
      </li>
    </ul>
  </div>
</div>

<div
  class="flex flex-col bg-primary neomorphism-primaryDarker-2 p-4 rounded-lg text-white space-x-2 m-8 lg:mx-32"
>
  <div class="flex">
    <div
      class="rounded-full bg-frenchRed px-3 text-sm flex justify-center items-center"
    >
      <span>3.0.0</span>
    </div>

    <span class="ml-4 text-white">From YuGames to GameOn!</span>
  </div>

  <div class="flex flex-col mt-4">
    <span class="underline">Contexte :</span>

    <span
      >Un an après sa sortie, et après une période de pause, le projet YuGames
      est devenu 'GameOn!' dans un esprit d'innovation et de branding plus
      professionel. De nombreuses fonctionnalités sont prévues, ainsi qu'un
      redesign complet.</span
    >

    <span class="underline text-customGreen mt-4">Nouveautés :</span>

    <ul>
      <li>- Refonte de la base de données (passage de SQLite à MySQL)</li>
      <li>
        - Passage à Angular 18 + corrections de différentes failles de sécurité
      </li>
      <li>
        - Mise à niveau de l'API vers .NET 8, avec les nouvelles dépendances
      </li>
      <li>- Refonte du mécanisme de connexion</li>
      <li>- Rebranding léger</li>
    </ul>
  </div>
</div>
