<div
  class="flex flex-row justify-center items-center bg-primary neomorphism-primaryDarker-2 p-4 rounded-lg text-white space-x-2 m-8 lg:mx-32"
>
  <div
    class="rounded-full bg-secondary p-2 flex flex-col items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#e8eaed"
    >
      <path
        d="M480-120q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-480q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q82 0 155.5 35T760-706v-94h80v240H600v-80h110q-41-56-101-88t-129-32q-117 0-198.5 81.5T200-480q0 117 81.5 198.5T480-200q105 0 183.5-68T756-440h82q-15 137-117.5 228.5T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"
      />
    </svg>
  </div>

  <span class="text-white">Changelog</span>
</div>

<div
  *ngFor="let changelog of changelogs"
  class="flex flex-col bg-primary neomorphism-primaryDarker-2 p-4 rounded-lg text-white space-x-2 m-8 lg:mx-32"
>
  <div class="flex">
    <div
      class="rounded-full bg-white text-black px-3 text-sm flex justify-center items-center"
      [ngClass]="{
        'bg-white': changelog.type == 2,
        'bg-green-500': changelog.type == 1,
        'bg-red-600 text-white': changelog.type == 0
      }"
    >
      <span>{{ changelog.version }}</span>
    </div>

    <span *ngIf="changelog.name != null" class="ml-4 text-white">{{
      changelog.name
    }}</span>
  </div>

  <div class="flex flex-col mt-4" *ngIf="changelog.context != null">
    <span class="underline">Contexte :</span>

    <span>{{ changelog.context }}</span>
  </div>

  <div class="flex flex-col mt-4" *ngIf="changelog.newFeatures != null">
    <span class="underline text-green-600">Nouveautés :</span>

    <ul>
      <li *ngFor="let feature of changelog.newFeatures">- {{ feature }}</li>
    </ul>
  </div>

  <div class="flex flex-col mt-4" *ngIf="changelog.updatedFeatures != null">
    <span class="underline text-yellow-600">Mises à jour :</span>

    <ul>
      <li *ngFor="let feature of changelog.updatedFeatures">- {{ feature }}</li>
    </ul>
  </div>

  <div class="flex flex-col mt-4" *ngIf="changelog.removedFeatures != null">
    <span class="underline text-red-600">Suppressions :</span>

    <ul>
      <li *ngFor="let feature of changelog.removedFeatures">- {{ feature }}</li>
    </ul>
  </div>
</div>
