<section id="fifa-game-played" class="px-4 mt-4">
  <app-loading-spinner
    *ngIf="loading == true"
    [@inOutAnimation]
  ></app-loading-spinner>

  <div>
    <div
      class="justify-center flex flex-row items-center border border-l-2 border-r-2 border-l-frenchBlue border-t-white border-b-white border-r-frenchRed p-4 rounded-full drop-shadow-lg mt-4 bg-gray-50"
    >
      <fa-icon [icon]="footballIcon" class="text-2xl"></fa-icon>
      <span class="text-2xl ml-4">Matchs joués</span>
    </div>

    <div
      class="flex flex-col bg-white p-4 rounded-lg text-primary mb-4 border border-gray-300 mt-4 drop-shadow-lg"
    >
      <span class="text-lg font-semibold">Filtres</span>

      <div class="mt-2">
        <div>
          <span class="text-sm">Nombre de matchs</span>
          <select
            [(ngModel)]="numberOfGames"
            class="focus:ring-secondary focus:border-secondary rounded-lg w-full border-gray-300"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>

        <div class="mt-2">
          <span class="text-sm">Platforme</span>
          <select
            [(ngModel)]="platformId"
            class="focus:ring-secondary focus:border-secondary rounded-lg w-full border-gray-300"
          >
            <option value="0">--- Plateforme ---</option>
            <option
              *ngFor="let platform of platforms"
              value="{{ platform.id }}"
            >
              {{ platform.name }}
            </option>
          </select>
        </div>

        <div class="mt-2">
          <span class="text-sm block">Entre le :</span>
          <input
            [(ngModel)]="startDate"
            type="date"
            class="focus:ring-secondary focus:border-secondary rounded-lg w-full border-gray-300"
          />
        </div>

        <div class="mt-2">
          <span class="text-sm block">et le :</span>
          <input
            [(ngModel)]="endDate"
            type="date"
            class="focus:ring-secondary focus:border-secondary rounded-lg w-full border-gray-300"
          />
        </div>
      </div>

      <button
        (click)="searchGame()"
        class="w-full mt-4 rounded-lg border border-secondary py-2"
      >
        Filtrer
      </button>
    </div>
  </div>

  <div *ngIf="loading == false" [@inOutAnimation]>
    <div class="mt-4 flex flex-col w-full space-y-4">
      <app-fifa-game-history-card
        *ngFor="let game of games"
        [game]="game"
      ></app-fifa-game-history-card>
    </div>
  </div>
</section>
