<section id="home-changelog" class="mb-4 mt-4">
  <app-home-changelog
    [changelog]="$safeNavigationMigration(homeData?.latestChangelog)"
    [loading]="loading"
    [error]="error"
  ></app-home-changelog>
</section>

<section id="home-fifa" class="mt-4 px-4">
  <app-home-fifa
    [season]="$safeNavigationMigration(homeData?.currentSeason)"
    [loading]="loading"
    [tournaments]="$safeNavigationMigration(homeData?.featuredTournaments)"
    [isLoggedIn]="isLoggedIn"
  ></app-home-fifa>
</section>

<section id="home-lol" class="my-4 px-4">
  <app-home-lol></app-home-lol>
</section>
