<app-info-message
  [type]="'error'"
  [title]="'Une erreur est survenue lors de la récupération des données.'"
  *ngIf="error == true"
></app-info-message>

<app-info-message
  *ngIf="isLoggedIn == false"
  [icon]="infoIcon"
  [type]="'info'"
  [clickable]="true"
  [title]="'Connectez-vous pour profiter d\'une experience personalisée !'"
  (click)="login()"
>
</app-info-message>

<section id="home-changelog" class="mt-4 px-4">
  <app-home-changelog
    [changelog]="homeData?.latestChangelog"
    [loading]="loading"
  ></app-home-changelog>
</section>

<section id="home-fifa" class="mt-4 px-4">
  <app-home-fifa
    [season]="homeData?.currentSeason"
    [loading]="loading"
    [tournaments]="homeData?.featuredTournaments"
    [isLoggedIn]="isLoggedIn"
  ></app-home-fifa>
</section>

<section id="home-lol" class="my-4 px-4">
  <app-home-lol></app-home-lol>
</section>
