<div [@inOutAnimation] class="flex flex-col items-center justify-center w-full">
  <div>
    <fa-icon [icon]="calendarIcon"></fa-icon>
    : {{ player.createdOn | date : "medium" }}
  </div>

  <button
    *ngIf="isProduction == false"
    class="mt-4 p-2 rounded-lg transition ease-in-out delay-50 bg-customYellow hover:bg-yellow-800 w-full"
    [cdkCopyToClipboard]="token"
  >
    Copier le token
  </button>

  <a
    class="mt-4 p-2 rounded-lg transition ease-in-out delay-50 bg-customGreen hover:bg-green-800 flex flex-row justify-center items-center w-full"
    [routerLink]="['/player', player.id]"
  >
    <img class="w-6 mr-2" src="../../../../../assets/img/svg/fifagame.svg" />
    Résultats FIFA
  </a>

  <button
    class="mt-4 p-2 rounded-lg transition ease-in-out delay-50 bg-customRed hover:bg-red-800 w-full"
    (click)="logout()"
  >
    Déconnexion
  </button>
</div>
