<div
  class="animate-fade bg-bgLight/40 dark:bg-bgDark/40 flex h-full flex-col rounded-lg p-4 backdrop-blur-sm"
>
  <div class="flex items-center justify-between">
    <span class="text-primary dark:text-primaryDark text-lg font-semibold"
      >Nouveautés</span
    >

    @if (loading == true && error == false) {
      <app-loading-spinner-tiny></app-loading-spinner-tiny>
    }
  </div>

  @if (error == true) {
    <app-info-message
      [type]="'error'"
      [icon]="errorIcon"
      [title]="'Une erreur est survenue lors de la récupération des nouveautés.'"
    ></app-info-message>
  }

  @if (error == false) {
    <div class="mt-4 cursor-pointer" routerLink="/changelog">
      <app-changelog-card
        [changelog]="changelog"
        [loading]="loading"
      ></app-changelog-card>
    </div>
  }
</div>
