<section id="top-card" class="px-4 pt-4">
  <app-common-page-header
    [icon]="footballIcon"
    [title]="'Soccer Fives'"
    [five]="true"
  ></app-common-page-header>

  <div *ngIf="loading == true">
    <app-loading-spinner></app-loading-spinner>
  </div>
</section>

<div class="flex flex-col space-y-4 animate-fade-down">
  <div class="px-4 w-full">
    <div
      class="flex flex-row justify-center cursor-pointer p-2 rounded-full transition ease-in-out delay-50 bg-customGreen hover:bg-green-800 mt-4"
      *ngIf="isLoggedIn == true"
      routerLink="/soccerfive/create"
    >
      <span class="text-white">Organiser un five</span>
    </div>
  </div>

  <div class="w-full flex flex-col mt-4 px-4">
    <div
      *ngIf="loading == false && fives.length > 0"
      class="flex flex-col space-y-4"
    >
      <a
        *ngFor="let five of fives"
        [routerLink]="['/soccerfive', five.id]"
        class="bg-bgLight dark:bg-bgDark text-primary dark:text-primaryDark p-4 rounded-lg drop-shadow-xl flex flex-row space-x-4 w-full"
      >
        <img class="w-16 rounded-full" src="assets/img/fifa/teams/115519.png" />

        <div class="flex flex-col justify-center align-center w-full">
          <div class="flex flex-row space-x-2">
            <span class="text-lg">
              {{ five.name }}
            </span>
          </div>

          <span class="text-xs mt-2" *ngIf="five.plannedOn != null">
            📅 {{ five.plannedOn.toString().split("T")[0] }}
          </span>

          <span class="text-xs mt-2" *ngIf="five.plannedOn == null">
            📅 Pas encore planifié
          </span>

          <span
            class="flex flex-row justify-center items-center text-xs px-4 rounded-xl mt-2 w-full"
            [class.bg-gray-600]="five.state == 0"
            [class.bg-customGreen]="five.state == 1"
            [class.bg-green-800]="five.state == 2"
          >
            {{ getState(five.state) }}
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
