<section id="lol-header">
  <div
    class="animate-fade flex cursor-pointer items-center justify-between"
    routerLink="/lol"
  >
    <div class="flex items-center justify-center">
      <span class="dark:text-primaryDark text-primary text-lg font-semibold"
        >League of Legends</span
      >
    </div>

    <app-pill [title]="lolVersion" [bgStyle]="'secondary'"></app-pill>
  </div>
</section>

<section
  id="lol-card"
  class="lol-card animate-fade mt-4 mb-32 flex aspect-video cursor-pointer flex-col justify-between rounded-lg px-4 font-bold text-white drop-shadow-lg"
  routerLink="/lol"
>
  <span class="mt-2 w-full text-left"></span>
  <span class="mb-2 w-full text-right text-sm"
    >Accéder à l'espace League of Legends !</span
  >
</section>
