<section id="lol-header">
  <div class="flex justify-between items-center animate-fade-up">
    <div class="flex justify-center items-center">
      <img src="assets/img/svg/lol.svg" class="w-8" />

      <span class="text-lg font-semibold text-primary dark:text-primaryDark"
        >League of Legends</span
      >
    </div>

    <fa-icon
      [icon]="externalIcon"
      class="text-primary cursor-pointer dark:text-primaryDark"
      routerLink="/lol"
    ></fa-icon>
  </div>
</section>

<section id="lol-pill">
  <div class="flex justify-between pt-4">
    <app-pill
      [title]="'Assets utilisés : patch ' + lolVersion"
      [bgStyle]="'secondary'"
    ></app-pill>
  </div>
</section>

<section
  id="lol-card"
  class="flex flex-col justify-between px-4 text-white drop-shadow-lg font-bold mt-4 aspect-video lol-card rounded-lg cursor-pointer animate-fade-up"
  routerLink="/lol"
>
  <span class="w-full text-left mt-2"
    >Accéder à l'espace League of Legends !</span
  >
  <span class="w-full text-right text-sm mb-2"></span>
</section>
