<section id="top-card" class="px-4 pt-4">
  <app-loading-spinner
    *ngIf="loading == true"
    [@inOutAnimation]
  ></app-loading-spinner>
</section>

<section
  id="header-pills"
  class="px-4 mb-4 overflow-x-scroll"
  [@inOutAnimation]
  *ngIf="loading == false && tournament != null"
>
  <div class="flex flex-row flex-nowrap whitespace-nowrap w-full space-x-2">
    <span
      class="drop-shadow-lg rounded-full px-2 border border-customGreen bg-customGreen text-white text-sm cursor-pointer"
      *ngIf="isSubscribed != null"
      (click)="showSubscription()"
    >
      <fa-icon [icon]="checkIcon"></fa-icon> Inscrit
    </span>

    <span
      class="drop-shadow-lg rounded-full px-2 bg-secondary text-white text-sm"
      [class.bg-gray-600]="tournament.state == 0"
      [class.bg-customGreen]="tournament.state == 1"
      [class.bg-secondary]="tournament.state == 2"
      [class.bg-customYellow]="tournament.state == 3"
      [class.bg-green-800]="tournament.state == 4"
    >
      {{ getState(tournament.state) }}
    </span>

    <span
      class="drop-shadow-lg rounded-full px-2 border border-frenchRed bg-frenchRed text-white text-sm cursor-pointer"
      *ngIf="isAdmin == true"
      [routerLink]="['/admin/tournaments/edit', tournamentId]"
    >
      Modifier
    </span>
  </div>
</section>

<section
  id="tournament-detail-card"
  class="px-4"
  *ngIf="loading == false && tournament != null"
  [@inOutAnimation]
>
  <div
    class="bg-bgLight dark:bg-bgDark p-4 rounded-lg flex justify-evenly items-center align-middle drop-shadow-lg"
  >
    <img
      class="rounded-full drop-shadow-lg"
      *ngIf="tournament.logoUrl != null && tournament.logoUrl != ''"
      src="{{ tournament.logoUrl }}"
      width="64"
    />

    <img
      class="rounded-full drop-shadow-lg"
      *ngIf="tournament.logoUrl == null || tournament.logoUrl == ''"
      src="assets/img/gameon-logo.webp"
      width="64"
    />

    <div class="flex flex-col">
      <span class="text-xl font-semibold text-primary dark:text-primaryDark">{{
        tournament.name
      }}</span>
      <span class="text-xs text-gray-600 dark:text-gray-300"
        >{{ tournament.plannedFrom.toString().split("T")[0] }} au
        {{ tournament.plannedTo.toString().split("T")[0] }}</span
      >
    </div>
  </div>
</section>

<div
  class="px-4 mt-4 flex space-x-2"
  [@inOutAnimation]
  *ngIf="loading == false && tournament != null && tournament.winner != null"
>
  <span class="text-lg font-semibold text-primary dark:text-primaryDark"
    >Gagnant</span
  >
</div>

<section
  id="tournament-winner"
  class="px-4 mt-4"
  *ngIf="loading == false && tournament != null && tournament.winner != null"
  [@inOutAnimation]
>
  <div class="bg-bgLight dark:bg-bgDark rounded-lg">
    <app-player-card [player]="tournament.winner"></app-player-card>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary dark:text-primaryDark cursor-pointer"
  [@inOutAnimation]
  *ngIf="
    loading == false && tournament != null && tournament.description != null
  "
  (click)="showDetailsContent()"
>
  <span class="text-lg font-semibold">Détails</span>
  <span class="text-lg font-semibold">
    <fa-icon [icon]="downChevronIcon" *ngIf="showDetails == true"></fa-icon>
    <fa-icon [icon]="rightChevronIcon" *ngIf="showDetails == false"></fa-icon>
  </span>
</div>

<section
  id="tournament-details"
  class="px-4 mt-4"
  *ngIf="
    loading == false &&
    tournament != null &&
    tournament.description != null &&
    showDetails == true
  "
  [@inOutAnimation]
>
  <div
    class="bg-bgLight dark:bg-bgDark text-primary dark:text-primaryDark p-4 rounded-lg flex justify-evenly items-center align-middle text-sm drop-shadow-lg"
  >
    {{ tournament.description }}
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary dark:text-primaryDark cursor-pointer"
  [@inOutAnimation]
  *ngIf="loading == false && tournament != null && tournament.rules != null"
  (click)="showRulesContent()"
>
  <span class="text-lg font-semibold">Règlement</span>
  <span class="text-lg font-semibold">
    <fa-icon [icon]="downChevronIcon" *ngIf="showRules == true"></fa-icon>
    <fa-icon [icon]="rightChevronIcon" *ngIf="showRules == false"></fa-icon>
  </span>
</div>

<section
  id="tournament-rules"
  class="px-4 mt-4"
  *ngIf="
    loading == false &&
    tournament != null &&
    tournament.description != null &&
    showRules == true
  "
  [@inOutAnimation]
>
  <div
    class="bg-bgLight dark:bg-bgDark text-primary dark:text-primaryDark p-4 rounded-lg flex justify-evenly items-center align-middle text-sm drop-shadow-lg"
    [innerHtml]="tournament.rules"
  ></div>
</section>

<div
  class="px-4 mt-4 flex"
  [@inOutAnimation]
  *ngIf="
    loading == false &&
    tournament != null &&
    isLoggedIn == true &&
    subscriptionShown == true
  "
>
  <span class="text-lg font-semibold text-primary dark:text-primaryDark"
    >Inscription</span
  >
</div>

<section
  id="tournament-subscription"
  class="m-4 bg-bgLight dark:bg-bgDark p-4 rounded-lg drop-shadow-lg"
  [@inOutAnimation]
  *ngIf="
    loading == false &&
    tournament != null &&
    isLoggedIn == true &&
    subscriptionShown == true
  "
>
  <div
    *ngIf="isSubscribed == null && tournament.state < 2"
    class="flex flex-col justify-center align-center items-center"
  >
    <select
      class="m-4 bg-primaryDarker text-primary dark:text-primaryDark bg-bgLight dark:bg-bgDark border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      [(ngModel)]="selectedTeam"
    >
      <option *ngFor="let fifaTeam of fifaTeams" value="{{ fifaTeam.id }}">
        {{ fifaTeam.name }}
      </option>
    </select>

    <button
      class="text-white bg-customGreen hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-customGreen font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
      (click)="subscribe()"
    >
      S'inscrire !
    </button>
  </div>

  <div
    *ngIf="isSubscribed != null && tournament.state < 2"
    class="flex flex-col justify-center align-center items-center"
  >
    <select
      class="m-4 bg-primaryDarker text-primary dark:text-primaryDark bg-bgLight dark:bg-bgDark border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      [(ngModel)]="selectedTeam"
    >
      <option *ngFor="let fifaTeam of fifaTeams" value="{{ fifaTeam.id }}">
        {{ fifaTeam.name }}
      </option>
    </select>

    <button
      class="text-white bg-customYellow hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
      (click)="updateSubscription()"
    >
      Modifier
    </button>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary dark:text-primaryDark cursor-pointer"
  [@inOutAnimation]
  *ngIf="
    loading == false &&
    tournament != null &&
    tournament.phase2ChallongeUrl != null
  "
  (click)="showTournamentBracket()"
>
  <span class="text-lg font-semibold"
    >Tournoi<span *ngIf="tournament.state < 3"> prévisionnel</span></span
  >
  <span class="text-lg font-semibold">
    <fa-icon
      [icon]="downChevronIcon"
      *ngIf="tournamentBracketShown == true"
    ></fa-icon>
    <fa-icon
      [icon]="rightChevronIcon"
      *ngIf="tournamentBracketShown == false"
    ></fa-icon>
  </span>
</div>

<section
  id="tournament-rules"
  class="px-4 mt-4"
  *ngIf="
    loading == false &&
    tournament != null &&
    tournament.phase2ChallongeUrl != null &&
    tournamentBracketShown == true
  "
  [@inOutAnimation]
>
  <iframe
    [src]="tournament.phase2ChallongeUrl | safe"
    width="100%"
    height="500"
    frameborder="0"
    scrolling="auto"
    allowtransparency="true"
  ></iframe>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary dark:text-primaryDark cursor-pointer"
  [@inOutAnimation]
  *ngIf="
    loading == false && tournament != null && tournament.players.length > 0
  "
  (click)="showPlayers()"
>
  <span class="text-lg font-semibold">Joueurs</span>
  <span class="text-lg font-semibold">
    <fa-icon [icon]="downChevronIcon" *ngIf="playersShown == true"></fa-icon>
    <fa-icon [icon]="rightChevronIcon" *ngIf="playersShown == false"></fa-icon>
  </span>
</div>

<section
  id="tournament-players"
  class="mt-4 overflow-x-scroll"
  *ngIf="
    loading == false &&
    tournament != null &&
    tournament.players.length > 0 &&
    playersShown == true
  "
  [@inOutAnimation]
>
  <div class="relative drop-shadow-lg lg:px-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-300">
      <thead class="text-xs text-gray-700 dark:text-gray-400 text-center">
        <tr>
          <th scope="col" class="px-6 py-3">Score</th>
          <th scope="col" class="px-6 py-3">Joueur</th>
          <th scope="col" class="px-6 py-3">Équipe</th>
          <th scope="col" class="px-6 py-3">Résultats</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b"
          *ngFor="let player of tournament.players"
          [routerLink]="['/player', player.player.id]"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 dark:text-gray-300 whitespace-nowrap text-center"
            [class.text-yellow-500]="
              tournament.players.indexOf(player) == 0 && tournament.state >= 2
            "
            [class.text-gray-400]="
              tournament.players.indexOf(player) == 1 && tournament.state >= 2
            "
            [class.text-secondary]="
              tournament.players.indexOf(player) == 2 && tournament.state >= 2
            "
          >
            {{ player.score }}
          </th>
          <td
            class="px-6 py-4 text-center text-xs text-primary dark:text-primaryDark font-semibold"
          >
            {{ player.player.fullName }}
          </td>
          <td class="px-6 py-4 flex justify-center items-center">
            <img
              src="assets/img/fifa/teams/{{ player.team.id }}.png"
              class="rounded-full w-8 h-8 drop-shadow-lg"
            />
          </td>
          <td class="px-6 py-4 text-center font-semibold">
            <span class="text-customGreen">{{ player.stats.wins }}</span
            >-<span class="text-customRed">{{ player.stats.losses }}</span
            >-<span class="text-customYellow">{{ player.stats.draws }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary dark:text-primaryDark cursor-pointer"
  [@inOutAnimation]
  *ngIf="loading == false && tournament != null && myGamesToPlay.length > 0"
  (click)="showMyMatchsToPlay()"
>
  <span class="text-lg font-semibold">Mes matchs à venir</span>
  <span class="text-lg font-semibold">
    <fa-icon
      [icon]="downChevronIcon"
      *ngIf="myMatchsToPlayShown == true"
    ></fa-icon>
    <fa-icon
      [icon]="rightChevronIcon"
      *ngIf="myMatchsToPlayShown == false"
    ></fa-icon>
  </span>
</div>

<section
  id="my-matchs-planned"
  class="px-4 mt-4 flex flex-col space-y-4"
  *ngIf="
    loading == false &&
    tournament != null &&
    myGamesToPlay.length > 0 &&
    myMatchsToPlayShown == true
  "
  [@inOutAnimation]
>
  <app-fifa-game-history-card
    *ngFor="let game of myGamesToPlay"
    [game]="game"
  ></app-fifa-game-history-card>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary dark:text-primaryDark cursor-pointer"
  [@inOutAnimation]
  *ngIf="loading == false && tournament != null && gamesToPlay.length > 0"
  (click)="showMatchsPlanned()"
>
  <span class="text-lg font-semibold">Matchs planifiés</span>
  <span class="text-lg font-semibold">
    <fa-icon
      [icon]="downChevronIcon"
      *ngIf="plannedMatchsShown == true"
    ></fa-icon>
    <fa-icon
      [icon]="rightChevronIcon"
      *ngIf="plannedMatchsShown == false"
    ></fa-icon>
  </span>
</div>

<section
  id="matchs-planned"
  class="px-4 mt-4 flex flex-col space-y-4"
  *ngIf="
    loading == false &&
    tournament != null &&
    gamesToPlay.length > 0 &&
    plannedMatchsShown == true
  "
  [@inOutAnimation]
>
  <app-fifa-game-history-card
    *ngFor="let game of gamesToPlay"
    [game]="game"
  ></app-fifa-game-history-card>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary dark:text-primaryDark cursor-pointer"
  [@inOutAnimation]
  *ngIf="loading == false && tournament != null && gamesPlayed.length > 0"
  (click)="showMatchsPlayed()"
>
  <span class="text-lg font-semibold">Matchs joués</span>
  <span class="text-lg font-semibold">
    <fa-icon
      [icon]="downChevronIcon"
      *ngIf="matchsPlayedShown == true"
    ></fa-icon>
    <fa-icon
      [icon]="rightChevronIcon"
      *ngIf="matchsPlayedShown == false"
    ></fa-icon>
  </span>
</div>

<section
  id="my-matchs-planned"
  class="px-4 mt-4 flex flex-col space-y-4"
  *ngIf="
    loading == false &&
    tournament != null &&
    gamesPlayed.length > 0 &&
    matchsPlayedShown == true
  "
  [@inOutAnimation]
>
  <app-fifa-game-history-card
    *ngFor="let game of gamesPlayed"
    [game]="game"
  ></app-fifa-game-history-card>
</section>
