<section id="donate-header" class="px-4 pt-4">
  <app-common-page-header
    [title]="'Me soutenir'"
    [icon]="btcIcon"
  ></app-common-page-header>
</section>

<section
  class="mx-4 mb-4 mt-4 flex animate-fade flex-col overflow-auto rounded-lg bg-bgLight p-4 text-justify text-primary drop-shadow-lg dark:bg-bgDark dark:text-primaryDark"
>
  <div class="flex flex-col">
    <span class="text-sm md:text-lg"
      >Si vous le désirez, vous pouvez me soutenir financièrement pour le
      travail accompli sur ce projet. Pour ce faire, vous pouvez via les moyens
      suivants :</span
    >
  </div>

  <ul class="mt-4 text-left">
    <li class="justify-left flex items-center space-x-2">
      <img src="assets/img/svg/paypal.svg" class="w-4" />
      <span
        >PayPal :
        <a
          href="https://www.paypal.me/ValentinVirot"
          class="cursor-pointer text-blue-600"
          target="_blank"
          >https://www.paypal.me/ValentinVirot</a
        ></span
      >
    </li>
    <li class="mt-2">
      <fa-icon [icon]="btcIcon" class="text-customYellow"></fa-icon> Bitcoin :
      <span class="text-xs md:text-lg"
        >bc1qkcwhv4u8aktm9mm0t9r2x4ryck2up24wlwyelw</span
      >
    </li>
    <li class="justify-left mt-2 flex items-center space-x-2">
      <img src="assets/img/svg/doge.svg" class="w-4" />
      <span
        >Dogecoin :
        <span class="text-xs md:text-lg"
          >DDT6RLMA79rYrtx7y3oo1yP2V1wQbpgfdS</span
        ></span
      >
    </li>
    <li class="justify-left mt-2 flex items-center space-x-2">
      <img src="assets/img/svg/eth.svg" class="w-4" />
      <span
        >Ethereum :
        <span class="text-xs md:text-lg"
          >0xa92d055886ef00B5c81DFD22316136C8444C7B87</span
        ></span
      >
    </li>
  </ul>

  <span class="mt-4">Merci beaucoup pour votre soutien ! 🙏🏻</span>

  <span class="mt-4"
    >Un grand merci à ⭐ Renaud Guillin ⭐ pour être le premier à m'avoir
    soutenu dans cette aventure 🙏🏻</span
  >
</section>
