<div
  class="mt-2 flex cursor-pointer flex-row rounded-lg border border-bgLightDarker bg-bgLight px-4 drop-shadow-lg dark:border-bgLight dark:bg-bgDark"
  [routerLink]="['/lol/summoner', player.id]"
>
  <div class="flex items-center justify-center">
    <img
      *ngIf="player.lolIconId != null"
      src="https://ddragon.leagueoflegends.com/cdn/{{
        currentLoLPatch
      }}/img/profileicon/{{ player.lolIconId }}.png"
      width="32"
      class="rounded-full"
    />

    <img
      *ngIf="
        player.profilePictureUrl != null &&
        player.profilePictureUrl != '' &&
        player.lolIconId == null
      "
      src="{{ player.profilePictureUrl }}"
      width="32"
      class="rounded-full"
    />

    <img
      *ngIf="
        player.profilePictureUrl == null ||
        (player.profilePictureUrl == '' && player.lolIconId == null)
      "
      class="rounded-full"
      src="assets/img/gameon-logo.webp"
      width="32"
    />
  </div>

  <div class="mx-4 flex grow flex-col text-primary dark:text-primaryDark">
    <span class="font-bold">{{ player.fullName }}</span>

    <div
      class="flex items-center justify-start text-gray-500 dark:text-gray-400"
    >
      <img
        src="assets/img/svg/lol.svg"
        class="h-6 w-6"
        *ngIf="player.riotGamesPUUID != null"
      />
      <span class="text-sm" *ngIf="player.riotGamesPUUID != null"
        >{{ player.riotGamesNickname }}#{{ player.riotGamesTagLine }} - niveau
        {{ player.lolSummonerLevel }}</span
      >
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-evenly text-primary dark:text-primaryDark"
  >
    <div
      *ngIf="player.leagueOfLegendsSoloRank != null"
      class="flex flex-row items-center justify-center space-x-2"
    >
      <img
        src="assets/img/lol/rank/{{
          player.leagueOfLegendsSoloRank.tier | lowercase
        }}.png"
        class="h-10 w-10"
      />
      <div class="flex flex-col items-center justify-center">
        <span class="text-xs"
          >{{ player.leagueOfLegendsSoloRank.tier | titlecase }}
          {{ player.leagueOfLegendsSoloRank.rank }}</span
        >
        <span class="text-xs"
          >Solo - {{ player.leagueOfLegendsSoloRank.leaguePoints }}LP</span
        >
      </div>
    </div>
    <div
      *ngIf="player.leagueOfLegendsFlexRank != null"
      class="flex flex-row items-center justify-center space-x-2"
    >
      <img
        src="assets/img/lol/rank/{{
          player.leagueOfLegendsFlexRank.tier | lowercase
        }}.png"
        class="h-10 w-10"
      />
      <div class="flex flex-col items-center justify-center">
        <span class="text-xs"
          >{{ player.leagueOfLegendsFlexRank.tier | titlecase }}
          {{ player.leagueOfLegendsFlexRank.rank }}</span
        >
        <span class="text-xs"
          >Flex - {{ player.leagueOfLegendsFlexRank.leaguePoints }}LP</span
        >
      </div>
    </div>
  </div>
</div>
