<div
  class="justify-center items-center space-x-1 drop-shadow-lg rounded-full px-2 border border-primary dark:border-bgLight bg-primaryDark dark:bg-bgDark text-primary dark:text-primaryDark text-sm animate-fade-right"
  [ngClass]="{ 'cursor-pointer': externalIcon != null }"
>
  <fa-icon
    *ngIf="icon != null"
    [icon]="icon"
    [class]="iconColor"
    [ngClass]="{ 'animate-pulse': iconPulsate == true }"
  ></fa-icon>

  <span>
    {{ title }}
  </span>

  <fa-icon *ngIf="showExternalIcon == true" [icon]="externalIcon"></fa-icon>
</div>
