<div
  class="flex flex-row rounded-lg border border-bgLightDarker dark:border-bgLight bg-bgLight dark:bg-bgDark px-4 mt-2 drop-shadow-lg cursor-pointer"
  [routerLink]="['/lol/summoner', player.id]"
>
  <div class="flex items-center justify-center">
    <img
      *ngIf="player.profilePictureUrl != null && player.profilePictureUrl != ''"
      src="{{ player.profilePictureUrl }}"
      width="32"
      class="rounded-full"
    />

    <img
      *ngIf="player.profilePictureUrl == null || player.profilePictureUrl == ''"
      class="rounded-full"
      src="assets/img/gameon-logo.webp"
      width="32"
    />
  </div>

  <div class="flex flex-col mx-4 grow text-primary dark:text-primaryDark">
    <span class="font-bold">{{ player.fullName }}</span>
    <span *ngIf="player.nickname != null">
      {{ player.nickname }}
    </span>
    <span *ngIf="player.nickname == null">Pseudo inconnu</span>
    <div class="flex items-center text-gray-500 dark:text-gray-400">
      <img
        src="assets/img/svg/lol.svg"
        class="w-6 h-6"
        *ngIf="player.riotGamesPUUID != null"
      />
      <span class="text-sm" *ngIf="player.riotGamesPUUID != null"
        >{{ player.riotGamesNickname }}#{{ player.riotGamesTagLine }} - niveau
        {{ player.lolSummonerLevel }}</span
      >
    </div>
  </div>

  <div class="flex flex-col text-primary dark:text-primaryDark">
    <div
      *ngIf="player.leagueOfLegendsSoloRank != null"
      class="flex flex-row justify-center items-center space-x-2"
    >
      <img
        src="assets/img/lol/rank/{{
          player.leagueOfLegendsSoloRank.tier | lowercase
        }}.png"
        class="w-10 h-10"
      />
      <div class="flex flex-col justify-center items-center">
        <span class="text-xs"
          >{{ player.leagueOfLegendsSoloRank.tier | titlecase }}
          {{ player.leagueOfLegendsSoloRank.rank }}</span
        >
        <span class="text-xs"
          >Solo - {{ player.leagueOfLegendsSoloRank.leaguePoints }}LP</span
        >
      </div>
    </div>
    <div
      *ngIf="player.leagueOfLegendsFlexRank != null"
      class="flex flex-row justify-center items-center space-x-2"
    >
      <img
        src="assets/img/lol/rank/{{
          player.leagueOfLegendsFlexRank.tier | lowercase
        }}.png"
        class="w-10 h-10"
      />
      <div class="flex flex-col justify-center items-center">
        <span class="text-xs"
          >{{ player.leagueOfLegendsFlexRank.tier | titlecase }}
          {{ player.leagueOfLegendsFlexRank.rank }}</span
        >
        <span class="text-xs"
          >Flex - {{ player.leagueOfLegendsFlexRank.leaguePoints }}LP</span
        >
      </div>
    </div>
  </div>
</div>
