<div
  class="mt-2 flex cursor-pointer flex-row rounded-lg border border-bgLightDarker bg-bgLight px-4 drop-shadow-lg dark:border-bgLight dark:bg-bgDark"
  [routerLink]="['/player', player.id]"
>
  <div class="flex items-center justify-center">
    <img
      *ngIf="player.profilePictureUrl != null && player.profilePictureUrl != ''"
      src="{{ player.profilePictureUrl }}"
      width="32"
      class="rounded-full"
    />

    <img
      *ngIf="player.profilePictureUrl == null || player.profilePictureUrl == ''"
      class="rounded-full"
      src="assets/img/gameon-logo.webp"
      width="32"
    />
  </div>

  <div class="mx-4 flex grow flex-col text-primary dark:text-primaryDark">
    <span class="font-bold">{{ player.fullName }}</span>
    <span *ngIf="player.nickname != null">
      {{ player.nickname }}
    </span>
    <span *ngIf="player.nickname == null">Pseudo inconnu</span>
    <div class="flex items-center text-gray-500 dark:text-gray-400">
      <img
        src="assets/img/svg/lol.svg"
        class="h-6 w-6"
        *ngIf="player.riotGamesPUUID != null"
      />
      <span class="text-sm" *ngIf="player.riotGamesPUUID != null"
        >{{ player.riotGamesNickname }}#{{ player.riotGamesTagLine }}</span
      >
    </div>
  </div>

  <div class="flex" *ngIf="player.tournamentsWon != null">
    <img
      *ngFor="let tournament of player.tournamentsWon"
      src="assets/img/svg/star-yellow.svg"
      class="w-4"
    />
  </div>
</div>
