<div
  class="flex flex-row rounded-lg border border-bgLightDarker dark:border-bgLight px-4 mt-2 drop-shadow-lg"
  [routerLink]="['/player', player.id]"
>
  <div class="flex items-center justify-center">
    <img
      *ngIf="player.profilePictureUrl != null && player.profilePictureUrl != ''"
      src="{{ player.profilePictureUrl }}"
      width="32"
      class="rounded-full"
    />

    <img
      *ngIf="player.profilePictureUrl == null || player.profilePictureUrl == ''"
      class="rounded-full"
      src="assets/img/gameon-logo.webp"
      width="32"
    />
  </div>

  <div class="flex flex-col mx-4 grow text-primary dark:text-primaryDark">
    <span class="font-bold">{{ player.fullName }}</span>
    <span *ngIf="player.nickname != null">
      {{ player.nickname }}
    </span>
    <span *ngIf="player.nickname == null">Pseudo inconnu</span>
  </div>

  <div class="flex" *ngIf="player.tournamentsWon != null">
    <img
      *ngFor="let tournament of player.tournamentsWon"
      src="assets/img/svg/star-yellow.svg"
      class="w-4"
    />
  </div>
</div>
