<div
  [@inOutAnimation]
  class="flex flex-row items-center bg-primary p-4 rounded-lg neomorphism-primaryDarker m-8 md:mx-16 lg:mx-32 text-white"
  role="status"
  *ngIf="loading == true"
>
  <app-loading-spinner></app-loading-spinner>
  Chargement des données...
</div>

<div
  class="flex flex-col md:flex-row md:space-x-8 text-white m-8 md:mx-16 lg:mx-32"
  [@inOutAnimation]
>
  <div
    class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4"
    *ngIf="player != null && player.id != 0"
  >
    <div class="bg-primary p-4 rounded-lg flex flex-col items-center">
      <img
        class="rounded-full neomorphism-inner-primary mt-4"
        *ngIf="player.profilePictureUrl != null"
        src="{{ player.profilePictureUrl }}"
        width="128"
      />

      <img
        class="rounded-full neomorphism-inner-primary mt-4"
        *ngIf="player.profilePictureUrl == null"
        src="assets/img/gameon-logo.webp"
        width="128"
      />

      <div class="text-center w-full">
        <span class="block mt-2">{{ player.fullName }}</span>
        <span class="block italic">{{ player.nickname }}</span>

        <select
          (change)="onChangeEnemy($event.target)"
          [ngModel]="selectedEnemy"
          id="enemies"
          class="mt-2 focus:ring-secondary focus:border-secondary neomorphism-inner-primaryDarker bg-primaryDarker text-white border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option value="0">Versus</option>
          <option *ngFor="let player of players" value="{{ player.id }}">
            {{ player.fullName }} ({{ player.nickname }})
          </option>
        </select>

        <select
          (change)="onChangeSeason($event.target)"
          [ngModel]="selectedSeason"
          id="seasons"
          class="mt-2 focus:ring-secondary focus:border-secondary neomorphism-inner-primaryDarker bg-primaryDarker text-white border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option *ngFor="let season of seasons" value="{{ season.id }}">
            {{ season.name }}
          </option>
        </select>

        <div
          class="mt-2 bg-primaryDarker neomorphism-inner-primaryDarker rounded-lg p-4"
          *ngIf="fifaPlayerStats != undefined && fifaPlayerStats != null"
        >
          <select
            [(ngModel)]="selectedStats"
            (change)="calculateStats()"
            id="stats"
            class="mb-4 focus:ring-secondary focus:border-secondary bg-primaryDarker text-white border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option
              *ngFor="let platform of fifaPlayerStats.statsPerPlatform"
              value="{{ platform.platform.id }}"
            >
              {{ platform.platform.name }}
            </option>
          </select>

          <div class="w-full">
            <app-fifa-stat [stat]="calculatedStats"></app-fifa-stat>
          </div>
        </div>

        <app-player-team-list
          *ngIf="
            fifaPlayerStats != undefined &&
            fifaPlayerStats != null &&
            fifaPlayerStats.mostPlayedTeams.length > 0
          "
          [teamList]="fifaPlayerStats.mostPlayedTeams"
          [title]="'Plus jouées'"
        ></app-player-team-list>

        <app-player-team-list
          *ngIf="
            fifaPlayerStats != undefined &&
            fifaPlayerStats != null &&
            fifaPlayerStats.mostWinsTeams.length > 0
          "
          [teamList]="fifaPlayerStats.mostWinsTeams"
          [title]="'Meilleures équipes'"
        ></app-player-team-list>

        <app-player-team-list
          *ngIf="
            fifaPlayerStats != undefined &&
            fifaPlayerStats != null &&
            fifaPlayerStats.mostPlayedTeams.length > 0
          "
          [teamList]="fifaPlayerStats.mostLossesTeams"
          [title]="'Pires équipes'"
        ></app-player-team-list>
      </div>
    </div>
  </div>

  <div
    class="w-full flex flex-col w-full mt-8 md:mt-0"
    *ngIf="player != null && player.id != 0"
  >
    <div
      *ngIf="
        loading == false && selectedEnemy != 0 && enemy != null && enemy.id != 0
      "
      class="flex flex-col lg:flex-row justify-around bg-secondaryDarker neomorphism-primaryDarker p-4 border border-customRed rounded-lg mb-4"
    >
      <div class="flex flex-col items-center space-y-4">
        <div class="flex flex-row items-center space-x-4">
          <img
            class="rounded-full"
            src="{{ player.profilePictureUrl }}"
            width="128"
          />

          <div>
            <p>{{ player.fullName }}</p>
            <p class="italic">{{ player.nickname }}</p>
          </div>
        </div>

        <app-fifa-stat
          *ngIf="
            fifaPlayerStats != null &&
            fifaPlayerStats.statsPerPlatform[0] != null
          "
          [stat]="fifaPlayerStats.statsPerPlatform[0]"
          class="w-full"
        ></app-fifa-stat>
      </div>

      <hr class="my-4 md:hidden" />

      <div class="flex flex-col items-center space-y-4">
        <div class="flex flex-row items-center space-x-4">
          <img
            class="rounded-full"
            src="{{ enemy.profilePictureUrl }}"
            width="128"
          />

          <div>
            <p>{{ enemy.fullName }}</p>
            <p class="italic">{{ enemy.nickname }}</p>
          </div>
        </div>

        <app-fifa-stat
          *ngIf="enemyStats != null"
          [stat]="enemyStats.statsPerPlatform[0]"
          class="w-full"
        ></app-fifa-stat>
      </div>
    </div>

    <app-fifa-game-list-header></app-fifa-game-list-header>

    <div
      class="mt-4 flex flex-col w-full text-white space-y-4"
      *ngIf="loading == false"
    >
      <app-fifa-game-history-card
        *ngFor="let game of games"
        [game]="game"
      ></app-fifa-game-history-card>
    </div>
  </div>
</div>
