<div
  id="home"
  class="flex flex-col items-center lg:items-start justify-center text-white h-screen p-8">
  <div class="mt-4" role="status" *ngIf="loading == true">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <section
    class="flex flex-col md:flex-row justify-center align-center self-center items-center md:items-start text-white p-8 bg-primaryDarker/80 rounded-lg"
    id="player-details"
    *ngIf="loading == false">
    <app-player-details-card [player]="player"></app-player-details-card>
  </section>

  <a
    routerLink="/"
    class="flex flex-col md:flex-row justify-center align-center self-center items-center md:items-start text-white mt-4 p-2 bg-primaryDarker/80 rounded-lg">
    <fa-icon [icon]="backIcon" class="mr-2"></fa-icon>
    Retour
  </a>
</div>
