<section id="game-header" class="mt-4 px-4">
  <app-common-page-header [title]="'Partie ' + gameId"></app-common-page-header>
</section>

<app-info-message
  [type]="'error'"
  [title]="'Une erreur est survenue lors de la récupération du match.'"
  *ngIf="gameError == true"
></app-info-message>

<app-info-message
  [title]="
    'Cette partie de l\'application est en cours de développement. Faites-nous vos retours afin d\'améliorer l\'expérience finale !'
  "
></app-info-message>

<app-loading-spinner *ngIf="isLoading == true"></app-loading-spinner>

<section id="game-pill" class="px-4" *ngIf="isLoading == false">
  <div class="flex justify-between pt-4">
    <app-pill
      *ngIf="game != null && game.endOfGameResult != null"
      [title]="game.endOfGameResult"
      [bgStyle]="'green'"
    ></app-pill>

    <app-pill
      *ngIf="game != null && game.endOfGameResult == null"
      [title]="'Partie non synchronisée'"
    ></app-pill>

    <app-pill
      *ngIf="game != null"
      [icon]="calendarIcon"
      [iconColor]="'white'"
      [title]="game.retrievedOn.toString()"
    ></app-pill>

    <app-pill
      [icon]="refreshIcon"
      [iconColor]="'white'"
      (click)="updateGame()"
      [title]="'Synchroniser'"
    >
    </app-pill>

    <app-pill *ngIf="game != null" [title]="patchTitle"></app-pill>
  </div>
</section>

<div class="mt-4 px-4">
  <app-lol-old-game-card
    [game]="game"
    [playerId]="playerId"
    *ngIf="game != null && isLoading == false"
  ></app-lol-old-game-card>
</div>

<section id="lol-team-1-header" class="mt-4 px-4" *ngIf="game != null">
  <div class="flex animate-fade-up items-center justify-between">
    <div class="flex items-center justify-center">
      <img src="assets/img/svg/lol.svg" class="w-8" />

      <span class="text-lg font-semibold text-primary dark:text-primaryDark"
        >Equipe 1 -
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId == 100
          "
          class="text-customGreen"
        >
          Victoire</span
        >
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId != 100
          "
          class="text-frenchRed"
        >
          Défaite</span
        >
      </span>
    </div>

    <app-loading-spinner-tiny
      *ngIf="isLoading == true"
    ></app-loading-spinner-tiny>
  </div>
</section>

<section
  id="lol-team1"
  class="mt-4 px-4"
  *ngIf="game != null && team1.length > 0"
>
  <div class="flex animate-fade-up flex-col divide-y-2 divide-gray-400">
    <app-lol-old-game-details-player
      *ngFor="let player of team1"
      [player]="player"
      [timeline]="timeline"
    ></app-lol-old-game-details-player>
  </div>
</section>

<section id="lol-team-2-header" class="mt-4 px-4" *ngIf="game != null">
  <div class="flex animate-fade-up items-center justify-between">
    <div class="flex items-center justify-center">
      <img src="assets/img/svg/lol.svg" class="w-8" />

      <span class="text-lg font-semibold text-primary dark:text-primaryDark"
        >Equipe 2 -
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId == 200
          "
          class="text-customGreen"
        >
          Victoire</span
        >
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId != 200
          "
          class="text-frenchRed"
        >
          Défaite</span
        >
      </span>
    </div>

    <app-loading-spinner-tiny
      *ngIf="isLoading == true"
    ></app-loading-spinner-tiny>
  </div>
</section>

<section
  id="lol-team2"
  class="mt-4 px-4"
  *ngIf="game != null && team2.length > 0"
>
  <div class="flex animate-fade-up flex-col divide-y-2 divide-gray-400">
    <app-lol-old-game-details-player
      *ngFor="let player of team2"
      [player]="player"
      [timeline]="timeline"
    ></app-lol-old-game-details-player>
  </div>
</section>
