<section id="game-header" class="px-4 mt-4">
  <app-common-page-header [title]="'Partie ' + gameId"></app-common-page-header>
</section>

<app-info-message
  [type]="'error'"
  [title]="'Une erreur est survenue lors de la récupération du match.'"
  *ngIf="gameError == true"
></app-info-message>

<app-info-message
  [title]="
    'Cette partie de l\'application est en cours de développement. Faites-nous vos retours afin d\'améliorer l\'expérience finale !'
  "
></app-info-message>

<app-loading-spinner *ngIf="isLoading == true"></app-loading-spinner>

<section id="game-pill" class="px-4" *ngIf="isLoading == false">
  <div class="flex justify-between pt-4">
    <app-pill
      *ngIf="game != null && game.endOfGameResult != null"
      [title]="game.endOfGameResult"
      [bgStyle]="'green'"
    ></app-pill>

    <app-pill
      *ngIf="game != null && game.endOfGameResult == null"
      [title]="'Partie non synchronisée'"
    ></app-pill>

    <app-pill
      *ngIf="game != null"
      [icon]="calendarIcon"
      [iconColor]="'white'"
      [title]="game.retrievedOn.toString()"
    ></app-pill>

    <app-pill
      [icon]="refreshIcon"
      [iconColor]="'white'"
      (click)="updateGame()"
      [title]="'Synchroniser'"
    >
    </app-pill>

    <app-pill *ngIf="game != null" [title]="patchTitle"></app-pill>
  </div>
</section>

<div class="px-4 mt-4">
  <app-lol-game-card
    [game]="game"
    [playerId]="playerId"
    *ngIf="game != null && isLoading == false"
  ></app-lol-game-card>
</div>

<section id="lol-team-1-header" class="px-4 mt-4" *ngIf="game != null">
  <div class="flex justify-between items-center animate-fade-up">
    <div class="flex justify-center items-center">
      <img src="assets/img/svg/lol.svg" class="w-8" />

      <span class="text-lg font-semibold text-primary dark:text-primaryDark"
        >Equipe 1 -
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId == 100
          "
          class="text-customGreen"
        >
          Victoire</span
        >
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId != 100
          "
          class="text-frenchRed"
        >
          Défaite</span
        >
      </span>
    </div>

    <app-loading-spinner-tiny
      *ngIf="isLoading == true"
    ></app-loading-spinner-tiny>
  </div>
</section>

<section
  id="lol-team1"
  class="px-4 mt-4"
  *ngIf="game != null && team1.length > 0"
>
  <div class="flex flex-col animate-fade-up divide-y-2 divide-gray-400">
    <div
      class="flex bg-gray-600/40 p-4 justify-between"
      *ngFor="let player of team1"
    >
      <div class="flex space-x-2">
        <div class="flex flex-col items-center w-16">
          <img
            class="rounded-full w-16"
            src="assets/img/gameon-logo.webp"
            *ngIf="player.championName == null || player.championName == ''"
          />

          <img
            class="rounded-full w-16"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/champion/{{ player.championName }}.png"
            *ngIf="player.championName != null && player.championName != ''"
          />

          <span
            class="bg-gray-800 text-white text-xs rounded-full -mt-2 z-50"
            *ngIf="player.champLevel == null || player.champLevel == 0"
            >??</span
          >

          <span
            class="bg-gray-800 text-white text-xs rounded-full -mt-2 z-50 px-1"
            *ngIf="player.champLevel != null && player.champLevel != 0"
            >{{ player.champLevel }}</span
          >
        </div>

        <div class="flex flex-col justify-center">
          <span class="text-sm text-white">{{ player.riotIdGameName }}</span>
          <a
            class="text-sm text-gray-300"
            href="https://www.op.gg/summoners/euw/{{ player.riotIdGameName }}-{{
              player.riotIdTagLine
            }}"
            ><fa-icon [icon]="externalIcon"></fa-icon> OP.GG</a
          >
        </div>
      </div>

      <div class="flex justify-center items-center">
        <span class="text-sm text-white"
          >{{ player.kills }} / {{ player.deaths }} / {{ player.assists }}</span
        >
      </div>

      <div class="flex flex-col">
        <div class="flex">
          <img
            *ngIf="player.item0 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item0 }}.png"
          /><img
            *ngIf="player.item1 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item1 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item2 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item2 }}.png"
          />
        </div>
        <div class="flex">
          <img
            *ngIf="player.item3 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item3 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item4 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item4 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item5 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item5 }}.png"
          /><img
            *ngIf="player.item6 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item6 }}.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="lol-team-2-header" class="px-4 mt-4" *ngIf="game != null">
  <div class="flex justify-between items-center animate-fade-up">
    <div class="flex justify-center items-center">
      <img src="assets/img/svg/lol.svg" class="w-8" />

      <span class="text-lg font-semibold text-primary dark:text-primaryDark"
        >Equipe 2 -
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId == 200
          "
          class="text-customGreen"
        >
          Victoire</span
        >
        <span
          *ngIf="
            game != null && game.winningTeamId != 0 && game.winningTeamId != 200
          "
          class="text-frenchRed"
        >
          Défaite</span
        >
      </span>
    </div>

    <app-loading-spinner-tiny
      *ngIf="isLoading == true"
    ></app-loading-spinner-tiny>
  </div>
</section>

<section
  id="lol-team2"
  class="px-4 mt-4"
  *ngIf="game != null && team2.length > 0"
>
  <div class="flex flex-col animate-fade-up divide-y-2 divide-gray-400">
    <div
      class="flex bg-gray-600/40 p-4 justify-between"
      *ngFor="let player of team2"
    >
      <div class="flex space-x-2">
        <div class="flex flex-col items-center w-16">
          <img
            class="rounded-full w-16"
            src="assets/img/gameon-logo.webp"
            *ngIf="player.championName == null || player.championName == ''"
          />

          <img
            class="rounded-full w-16"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/champion/{{ player.championName }}.png"
            *ngIf="player.championName != null && player.championName != ''"
          />

          <span
            class="bg-gray-800 text-white text-xs rounded-full -mt-2 z-50"
            *ngIf="player.champLevel == null || player.champLevel == 0"
            >??</span
          >

          <span
            class="bg-gray-800 text-white text-xs rounded-full -mt-2 z-50 px-1"
            *ngIf="player.champLevel != null && player.champLevel != 0"
            >{{ player.champLevel }}</span
          >
        </div>

        <div class="flex flex-col justify-center">
          <span class="text-sm text-white">{{ player.riotIdGameName }}</span>
          <a
            class="text-sm text-gray-300"
            href="https://www.op.gg/summoners/euw/{{ player.riotIdGameName }}-{{
              player.riotIdTagLine
            }}"
            ><fa-icon [icon]="externalIcon"></fa-icon> OP.GG</a
          >
        </div>
      </div>

      <div class="flex justify-center items-center">
        <span class="text-sm text-white"
          >{{ player.kills }} / {{ player.deaths }} / {{ player.assists }}</span
        >
      </div>

      <div class="flex flex-col">
        <div class="flex">
          <img
            *ngIf="player.item0 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item0 }}.png"
          /><img
            *ngIf="player.item1 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item1 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item2 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item2 }}.png"
          />
        </div>
        <div class="flex">
          <img
            *ngIf="player.item3 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item3 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item4 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item4 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item5 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item5 }}.png"
          /><img
            *ngIf="player.item6 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item6 }}.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
