<div
  class="mb-4 flex w-full animate-fade-up space-x-2 rounded-lg drop-shadow-lg"
  [ngClass]="{
    'bg-gray-600/40': game.endOfGameResult == null,
    'bg-blue-600/40': game.endOfGameResult != null && won == true,
    'bg-red-600/40': game.endOfGameResult != null && won == false,
  }"
  >
  <div class="flex" [routerLink]="['/lol/game', game.matchId, playerId]">
    <div
      class="w-2 rounded-l-lg"
      [ngClass]="{
        'bg-gray-500': game.endOfGameResult == null,
        'bg-blue-600': game.endOfGameResult != null && won == true,
        'bg-red-600': game.endOfGameResult != null && won == false,
      }"
    ></div>
  </div>

  <div
    class="flex w-full flex-col"
    [routerLink]="['/lol/game', game.matchId, playerId]"
    >
    <div class="mb-2 flex w-full justify-between border-b border-gray-300 pb-2">
      <div class="flex items-center justify-center space-x-2 text-sm">
        @if (game.endOfGameResult == null) {
          <span
            class="font-bold text-gray-600"
            >Inconnu</span
            >
          }
          @if (game.endOfGameResult != null && won == false) {
            <span
              class="font-bold text-red-600"
              >Défaite</span
              >
            }
            @if (game.endOfGameResult != null && won == true) {
              <span
                class="font-bold text-blue-600"
                >Victoire</span
                >
              }
              @if (gameDuration != null) {
                <span class="text-gray-200">{{
                  gameDuration
                }}</span>
              }
            </div>

            <div class="flex items-center justify-center text-sm text-gray-200">
              @if (game.queueType == '') {
                <span class="pr-2">File inconnue</span>
              }
              @if (game.queueType == 'RANKED_SOLO_DUO') {
                <span class="pr-2"
                  >Classée en solo/duo</span
                  >
                }
                @if (game.queueType == 'RANKED_FLEX') {
                  <span class="pr-2"
                    >Classée flexible</span
                    >
                  }
                </div>
              </div>

              <div class="mb-2 flex w-full items-center justify-between">
                <div class="flex flex-col items-center">
                  @if (championName == null || championName == '') {
                    <img
                      class="w-16 rounded-full"
                      src="assets/img/gameon-logo.webp"
                      />
                  }

                  @if (championName != null && championName != '') {
                    <img
                      class="w-16 rounded-full"
          src="https://ddragon.leagueoflegends.com/cdn/{{
            currentLoLPatch
          }}/img/champion/{{ championName }}.png"
                      />
                  }

                  @if (champLevel == null || champLevel == 0) {
                    <span
                      class="z-50 -mt-2 rounded-full bg-gray-800 text-xs text-white"
                      >??</span
                      >
                    }

                    @if (champLevel != null && champLevel != 0) {
                      <span
                        class="z-50 -mt-2 rounded-full bg-gray-800 px-1 text-xs text-white"
                        >{{ champLevel }}</span
                        >
                      }
                    </div>

                    <div class="flex flex-col items-center text-sm text-gray-300">
                      <span>{{ kills }} / {{ deaths }} / {{ assists }}</span>
                      <span>{{ kda }} KDA</span>
                    </div>

                    <div class="flex flex-col">
                      <div class="flex">
                        @if (item0 != 0) {
                          <img
                            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ item0 }}.png"
                            />
                          }@if (item1 != 0) {
                          <img
                            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ item1 }}.png"
                            />
                          }@if (item2 != 0) {
                          <img
                            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ item2 }}.png"
                            />
                        }
                      </div>
                      <div class="flex">
                        @if (item3 != 0) {
                          <img
                            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ item3 }}.png"
                            />
                          }@if (item4 != 0) {
                          <img
                            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ item4 }}.png"
                            />
                          }@if (item5 != 0) {
                          <img
                            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ item5 }}.png"
                            />
                          }@if (item6 != 0) {
                          <img
                            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ item6 }}.png"
                            />
                        }
                      </div>
                    </div>
                  </div>
                </div>

                <div class="flex" (click)="updateGame()">
                  <div
                    class="flex w-8 items-center justify-center rounded-r-lg text-white"
      [ngClass]="{
        'bg-gray-500': game.endOfGameResult == null,
        'bg-blue-600': game.endOfGameResult != null && won == true,
        'bg-red-600': game.endOfGameResult != null && won == false,
      }"
                    >
                    <button class="p-1">
                      <fa-icon [icon]="refreshIcon"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
