<section id="top-card" class="px-4 pt-4 h-screen">
  <app-loading-spinner
    *ngIf="loading == true"
    [@inOutAnimation]
  ></app-loading-spinner>

  <app-common-page-header
    *ngIf="!loading"
    [@inOutAnimation]
    [icon]="trophyIcon"
    [title]="'Tournois'"
  ></app-common-page-header>

  <div
    [@inOutAnimation]
    *ngIf="loading == false"
    class="flex flex-col space-y-4 mt-4"
  >
    <div
      class="bg-bgLight dark:bg-bgDark rounded-lg drop-shadow-lg flex flex-col space-y-2"
      *ngFor="let tournament of tournaments"
      [routerLink]="['/fifa/tournaments', tournament.id]"
    >
      <div class="flex flex-col justify-center items-center space-y-2 mt-4">
        <img
          class="w-16 rounded-full"
          *ngIf="tournament.logoUrl != null && tournament.logoUrl != ''"
          src="{{ tournament.logoUrl }}"
        />
        <img
          class="w-16 rounded-full"
          *ngIf="tournament.logoUrl == null || tournament.logoUrl == ''"
          src="assets/img/gameon-logo.webp"
        />

        <span class="text-primary dark:text-primaryDark">
          {{ tournament.name }}
        </span>

        <div
          class="drop-shadow-lg rounded-full px-2 bg-secondary text-white text-xs"
          [class.bg-gray-600]="tournament.state == 0"
          [class.bg-customGreen]="tournament.state == 1"
          [class.bg-secondary]="tournament.state == 2"
          [class.bg-customYellow]="tournament.state == 3"
          [class.bg-green-800]="tournament.state == 4"
        >
          {{ getState(tournament.state) }}
        </div>
      </div>

      <div class="flex justify-center">
        <span class="text-xs text-gray-500 dark:text-gray-300">
          {{ tournament.plannedFrom.toString().split("T")[0] }} -
          {{ tournament.plannedTo.toString().split("T")[0] }}
        </span>
      </div>
    </div>
  </div>
</section>
