<div class="m-4 mt-8 overflow-x-auto">
  <div
    class="flex flex-row items-center rounded-lg bg-primary p-4"
    *ngIf="loading == true"
  >
    <app-loading-spinner></app-loading-spinner>
    <span class="text-white">Chargement...</span>
  </div>

  <div
    class="flex flex-row justify-center space-x-2 rounded-lg bg-primary p-4"
    *ngIf="loading == false"
  >
    <div
      class="flex w-8 flex-col items-center justify-center rounded-full bg-customRed"
    >
      <img src="assets/img/svg/highlight.svg" class="w-4" />
    </div>
    <span class="text-white">Temps forts</span>
  </div>

  <table
    class="mt-4 w-full text-left text-sm text-gray-400"
    *ngIf="loading == false"
  >
    <thead class="bg-primary text-xs uppercase text-white">
      <tr>
        <th scope="col" class="px-6 py-3">Titre</th>
        <th scope="col" class="px-6 py-3">Lien externe</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-secondaryDarker border-b border-secondary text-white"
        *ngFor="let highlight of highlights"
      >
        <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium">
          {{ highlight.name }}
        </th>
        <td class="px-6 py-4">
          <a
            href="{{ highlight.externalUrl }}"
            target="_blank"
            class="underline"
          >
            Lien
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
