<div class="m-4 overflow-x-auto mt-8">
  <div
    class="flex flex-row items-center p-4 rounded-lg bg-primary"
    *ngIf="loading == true">
    <app-loading-spinner></app-loading-spinner>
    <span class="text-white">Chargement...</span>
  </div>

  <div
    class="flex flex-row space-x-2 justify-center p-4 rounded-lg bg-primary"
    *ngIf="loading == false">
    <div
      class="rounded-full bg-red-500 w-8 flex flex-col items-center justify-center">
      <img src="../../../assets/img/highlight.svg" class="w-4" />
    </div>
    <span class="text-white">Temps forts</span>
  </div>

  <table
    class="w-full text-sm text-left text-gray-400 mt-4"
    *ngIf="loading == false">
    <thead class="text-xs uppercase bg-primary text-white">
      <tr>
        <th scope="col" class="px-6 py-3">Titre</th>
        <th scope="col" class="px-6 py-3">Lien externe</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="border-b border-secondary bg-secondaryDarker text-white"
        *ngFor="let highlight of highlights">
        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
          {{ highlight.name }}
        </th>
        <td class="px-6 py-4">
          <a
            href="{{ highlight.externalUrl }}"
            target="_blank"
            class="underline">
            Lien
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
