<section id="fifa-header" class="px-4 pt-4" [@inOutAnimation]>
  <app-common-page-header
    [icon]="footballIcon"
    [title]="'Création match'"
  ></app-common-page-header>
</section>

<section id="top-card" class="px-4 mt-4">
  <app-loading-spinner
    *ngIf="isLoading == true"
    [@inOutAnimation]
  ></app-loading-spinner>
</section>

<form
  [formGroup]="createGameForm"
  class="flex flex-col"
  [@inOutAnimation]
  *ngIf="isLoading == false"
>
  <div class="px-4 mt-4 flex" [@inOutAnimation]>
    <span class="text-lg font-semibold text-primary dark:text-primaryDark"
      >Équipe #1</span
    >
  </div>

  <div
    class="flex flex-col space-y-4 bg-bgLight dark:bg-bgDark p-4 rounded-lg drop-shadow-lg m-4"
  >
    <div class="relative z-0 w-full mb-6 group flex flex-row mt-2">
      <div class="w-full">
        <input
          type="text"
          id="fifaTeam1"
          class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-500 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer text-primary dark:text-primaryDark"
          formControlName="teamFifa1"
          list="fifaTeam1List"
        />

        <datalist id="fifaTeam1List">
          <option
            *ngFor="let team of fifaTeams"
            value="{{ team.name }}"
          ></option>
        </datalist>

        <label
          for="fifaTeam1"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Équipe <span class="text-customRed">*</span>
        </label>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="number"
          id="teamScore1"
          min="0"
          class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-500 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer text-primary dark:text-primaryDark"
          formControlName="teamScore1"
          required
        />
        <label
          for="teamScore1"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Score
          <span class="text-customRed">*</span>
        </label>
      </div>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <label
        for="team1"
        class="block mb-2 text-sm font-medium text-primary dark:text-primaryDark"
      >
        Joueurs <span class="text-customRed">*</span>
      </label>

      <select
        multiple
        id="team1"
        formControlName="team1"
        class="border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-bgDarkDarker dark:text-primaryDark"
      >
        <option *ngFor="let player of players" value="{{ player.id }}">
          {{ player.fullName }}
        </option>
      </select>
    </div>
  </div>

  <div class="px-4 mt-4 flex" [@inOutAnimation]>
    <span class="text-lg font-semibold text-primary dark:text-primaryDark"
      >Équipe #2</span
    >
  </div>

  <div
    class="flex flex-col space-y-4 bg-bgLight dark:bg-bgDark p-4 rounded-lg drop-shadow-lg m-4"
  >
    <div class="relative z-0 w-full mb-6 group flex flex-row mt-2">
      <div class="w-full">
        <input
          type="text"
          id="fifaTeam2"
          class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-500 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer text-primary dark:text-primaryDark"
          formControlName="teamFifa2"
          list="fifaTeam2List"
        />

        <datalist id="fifaTeam2List">
          <option
            *ngFor="let team of fifaTeams"
            value="{{ team.name }}"
          ></option>
        </datalist>

        <label
          for="fifaTeam2"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Équipe <span class="text-customRed">*</span>
        </label>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="number"
          id="teamScore2"
          min="0"
          class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-500 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer text-primary dark:text-primaryDark"
          formControlName="teamScore1"
          required
        />
        <label
          for="teamScore2"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Score
          <span class="text-customRed">*</span>
        </label>
      </div>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <label
        for="team2"
        class="block mb-2 text-sm font-medium text-primary dark:text-primaryDark"
      >
        Joueurs <span class="text-customRed">*</span>
      </label>

      <select
        multiple
        id="team2"
        formControlName="team2"
        class="border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-bgDarkDarker dark:text-primaryDark"
      >
        <option *ngFor="let player of players" value="{{ player.id }}">
          {{ player.fullName }}
        </option>
      </select>
    </div>
  </div>

  <div class="px-4 mt-4 flex" [@inOutAnimation]>
    <span class="text-lg font-semibold text-primary dark:text-primaryDark"
      >Plateforme</span
    >
  </div>

  <div
    class="mx-4 mt-4 p-4 rounded-lg bg-bgLight dark:bg-bgDark drop-shadow-lg"
  >
    <select
      id="platform"
      formControlName="platform"
      class="dark:bg-bgDarkDarker dark:text-primaryDark border border-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    >
      <option *ngFor="let platform of platforms" value="{{ platform.id }}">
        {{ platform.name }}
      </option>
    </select>
  </div>
</form>

<div class="px-4 mt-4 flex" [@inOutAnimation] *ngIf="isLoading == false">
  <button
    (click)="createGame()"
    class="drop-shadow-lg text-white bg-customGreen hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-customGreen font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
  >
    Créer le match
  </button>
</div>
