<div
  [@inOutAnimation]
  class="flex flex-row items-center bg-primary p-4 rounded-lg neomorphism-primaryDarker m-8 md:mx-16 lg:mx-32 text-white"
  role="status"
  *ngIf="isLoading == true"
>
  <app-loading-spinner></app-loading-spinner>
  Chargement des données...
</div>

<div
  [@inOutAnimation]
  class="flex flex-row justify-center text-white m-8 md:mx-16 lg:mx-32 bg-primary p-4 rounded-lg neomorphism-primaryDarker"
>
  <div
    class="rounded-full bg-green-500 w-8 flex flex-col items-center justify-center"
  >
    <img src="../../../assets/img/fifagame.svg" class="w-4" />
  </div>
  <span class="ml-1 text-white">Ajouter un match</span>
</div>

<div
  [@inOutAnimation]
  class="flex flex-row justify-center text-white m-8 md:mx-16 lg:mx-32 bg-primary p-4 rounded-lg neomorphism-primaryDarker-2"
>
  <form [formGroup]="createGameForm" class="w-full flex flex-col">
    <div
      class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 justify-around"
    >
      <div
        class="flex flex-col md:w-full space-y-4 bg-primaryDarker p-4 neomorphism-inner-primaryDarker rounded-lg"
      >
        <p class="underline w-full text-center mb-4">Équipe 1</p>

        <div class="flex flex-col md:flex-row md:space-x-4">
          <div class="relative z-0 w-full mb-6 group">
            <input
              type="text"
              id="teamCode1"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="teamCode1"
              required
            />
            <label
              for="teamCode1"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Code
              <span class="text-red-500">*</span>
            </label>
          </div>

          <div class="relative z-0 w-full mb-6 group">
            <input
              type="number"
              id="teamScore1"
              min="0"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="teamScore1"
              required
            />
            <label
              for="teamScore1"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Score
              <span class="text-red-500">*</span>
            </label>
          </div>
        </div>

        <div class="relative z-0 w-full mb-6 group flex flex-row">
          <div class="w-full">
            <label
              for="fifateam1"
              class="block mb-2 text-sm font-medium text-white scale-100"
            >
              Équipe FIFA (si disponible)
            </label>

            <select
              id="fifateam1"
              [(ngModel)]="fifaTeam1"
              formControlName="teamFifa1"
              class="mt-2 bg-gray-800/40 border border-secondary text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
              <option value="0" selected>
                --- Sélectionnez une équipe ---
              </option>
              <option
                *ngFor="let fifaTeam of fifaTeams"
                value="{{ fifaTeam.id }}"
              >
                {{ fifaTeam.name }}
              </option>
            </select>
          </div>

          <img
            *ngIf="fifaTeam1 != 0"
            class="w-20"
            src="../../../assets/img/teams/{{ fifaTeam1 }}.png"
          />
        </div>

        <div class="relative z-0 w-full mb-6 group">
          <label for="team1" class="block mb-2 text-sm font-medium text-white">
            Joueurs
          </label>
          <select
            multiple
            id="team1"
            formControlName="team1"
            class="bg-gray-800/40 border border-secondary text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option *ngFor="let player of players" value="{{ player.id }}">
              {{ player.fullName }}
            </option>
          </select>
        </div>
      </div>

      <div
        class="flex flex-col md:w-full space-y-4 bg-primaryDarker p-4 neomorphism-inner-primaryDarker rounded-lg"
      >
        <p class="underline w-full text-center mb-4">Équipe 2</p>

        <div class="flex flex-col md:flex-row md:space-x-4">
          <div class="relative z-0 w-full mb-6 group">
            <input
              type="text"
              id="teamCode2"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="teamCode2"
              required
            />
            <label
              for="teamCode2"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Code
              <span class="text-red-500">*</span>
            </label>
          </div>

          <div class="relative z-0 w-full mb-6 group">
            <input
              type="number"
              id="teamScore2"
              min="0"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="teamScore2"
              required
            />
            <label
              for="teamScore2"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Score
              <span class="text-red-500">*</span>
            </label>
          </div>
        </div>

        <div class="relative z-0 w-full mb-6 group flex flex-row">
          <div class="w-full">
            <label
              for="fifateam2"
              class="block mb-2 text-sm font-medium text-white scale-100"
            >
              Équipe FIFA (si disponible)
            </label>

            <select
              id="fifateam2"
              formControlName="teamFifa2"
              [(ngModel)]="fifaTeam2"
              class="mt-2 bg-gray-800/40 border border-secondary text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
              <option value="0" selected>
                --- Sélectionnez une équipe ---
              </option>
              <option
                *ngFor="let fifaTeam of fifaTeams"
                value="{{ fifaTeam.id }}"
              >
                {{ fifaTeam.name }}
              </option>
            </select>
          </div>

          <img
            *ngIf="fifaTeam2 != 0"
            class="w-20"
            src="../../../assets/img/teams/{{ fifaTeam2 }}.png"
          />
        </div>

        <div class="relative z-0 w-full mb-6 group">
          <label for="team2" class="block mb-2 text-sm font-medium text-white">
            Joueurs
          </label>
          <select
            multiple
            id="team2"
            formControlName="team2"
            class="bg-gray-800/40 border border-secondary text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option *ngFor="let player of players" value="{{ player.id }}">
              {{ player.fullName }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div
      class="mt-4 relative z-0 w-full mb-6 group bg-primaryDarker p-4 neomorphism-inner-primaryDarker rounded-lg"
    >
      <label
        for="platform"
        class="block mb-2 text-sm font-medium text-white scale-100"
      >
        Plateforme
      </label>

      <select
        id="platform"
        formControlName="platform"
        class="mt-2 bg-gray-800/40 border border-secondary text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option *ngFor="let platform of platforms" value="{{ platform.id }}">
          {{ platform.name }}
        </option>
      </select>
    </div>

    <button
      (click)="createGame()"
      class="text-white mt-4 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
    >
      Créer le match
    </button>
  </form>
</div>
