<div class="flex flex-col justify-center items-center align-center">
  <div class="w-full flex flex-row">
    <div class="w-full bg-white rounded-full h-4">
      <div
        class="bg-neonGreen text-xs font-medium text-black text-center p-0.5 leading-none rounded-full h-4"
        style="width: {{ stat.winRate }}%">
        {{ stat.winRate }}%
      </div>
    </div>
    <span class="ml-2 text-xs text-neonGreen w-6">{{ stat.wins }}W</span>
  </div>

  <div class="w-full mt-1 flex flex-row">
    <div class="w-full bg-white rounded-full h-4">
      <div
        class="bg-neonRed text-xs font-medium text-black text-center p-0.5 leading-none rounded-full h-4"
        style="width: {{ stat.looseRate }}%">
        {{ stat.looseRate }}%
      </div>
    </div>
    <span class="ml-2 text-xs text-neonRed w-6">{{ stat.losses }}L</span>
  </div>

  <div class="w-full mt-1 flex flex-row">
    <div class="w-full bg-white rounded-full h-4">
      <div
        class="bg-neonYellow text-xs font-medium text-black text-center p-0.5 leading-none rounded-full h-4"
        style="width: {{ stat.drawRate }}%">
        {{ stat.drawRate }}%
      </div>
    </div>
    <span class="ml-2 text-xs text-neonYellow w-6">{{ stat.draws }}D</span>
  </div>
</div>

<div class="text-xs text-center mt-2">
  <span class="block">
    Moy. marqués : {{ stat.averageGoalGiven }} - total :
    {{ stat.goalsGiven }}
  </span>
  <span class="block">
    Moy. reçus : {{ stat.averageGoalTaken }} - total :
    {{ stat.goalsTaken }}
  </span>
  <span class="block">Diff. globale : {{ stat.goalDifference }}</span>
</div>
