<div class="flex flex-col justify-center items-center align-center">
  <div class="w-full flex flex-row">
    <div class="w-full bg-gray-300 dark:bg-gray-600 rounded-full h-4">
      <div
        class="bg-customGreen text-xs font-medium text-black text-center p-0.5 leading-none rounded-full h-4"
        [class.bg-transparent]="stat.winRate == 0"
        style="width: {{ stat.winRate }}%"
      >
        {{ stat.winRate }}%
      </div>
    </div>
    <span class="ml-2 text-xs text-customGreen w-6">{{ stat.wins }}V</span>
  </div>

  <div class="w-full mt-1 flex flex-row">
    <div class="w-full bg-gray-300 dark:bg-gray-600 rounded-full h-4">
      <div
        class="bg-customRed text-xs font-medium text-black text-center p-0.5 leading-none rounded-full h-4"
        [class.bg-transparent]="stat.looseRate == 0"
        style="width: {{ stat.looseRate }}%"
      >
        {{ stat.looseRate }}%
      </div>
    </div>
    <span class="ml-2 text-xs text-customRed w-6">{{ stat.losses }}D</span>
  </div>

  <div class="w-full mt-1 flex flex-row">
    <div class="w-full bg-gray-300 dark:bg-gray-600 rounded-full h-4">
      <div
        class="bg-customYellow text-xs font-medium text-black text-center p-0.5 leading-none rounded-full h-4"
        [class.bg-transparent]="stat.drawRate == 0"
        style="width: {{ stat.drawRate }}%"
      >
        {{ stat.drawRate }}%
      </div>
    </div>
    <span class="ml-2 text-xs text-customYellow w-6">{{ stat.draws }}N</span>
  </div>
</div>

<div class="text-xs text-center mt-2 text-primary dark:text-primaryDark">
  <span class="block">
    Moy. marqués : {{ stat.averageGoalGiven }} - total :
    {{ stat.goalsGiven }}
  </span>
  <span class="block">
    Moy. reçus : {{ stat.averageGoalTaken }} - total :
    {{ stat.goalsTaken }}
  </span>
  <span class="block">Diff. globale : {{ stat.goalDifference }}</span>
</div>
