<section id="top-card" class="px-4 pt-4">
  <app-common-page-header
    [icon]="changelogIcon"
    [title]="'Changelogs'"
  ></app-common-page-header>

  @if (loading == true) {
    <app-changelog-card
      [loading]="true"
    ></app-changelog-card>
  }

  @if (loading == false) {
    <div>
      @for (changelog of changelogs; track changelog) {
        <app-changelog-card
          [changelog]="changelog"
          [loading]="false"
        ></app-changelog-card>
      }
    </div>
  }
</section>
