<div class="mt-4 px-4" *ngIf="loading == true">
  <app-loading-spinner></app-loading-spinner>
</div>

<section
  id="header-pills"
  class="dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 overflow-x-scroll p-4 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-bgLightDarker dark:[&::-webkit-scrollbar-track]:bg-bgDarkDarker [&::-webkit-scrollbar]:h-2"
  *ngIf="loading == false && player != null"
>
  <div class="flex w-full flex-row flex-nowrap space-x-2 whitespace-nowrap">
    <app-pill
      *ngIf="player.archived == true"
      [title]="'Archivé'"
      [bgStyle]="'gray'"
      [borderStyle]="'gray'"
    ></app-pill>
  </div>

  <div
    class="flex w-full flex-row flex-nowrap space-x-2 whitespace-nowrap"
    *ngIf="player.tournamentsWon != null && player.tournamentsWon.length > 0"
  >
    <app-pill
      *ngFor="let tournament of player.tournamentsWon"
      [title]="tournament.name"
      [icon]="starIcon"
      [iconColor]="'text-customYellow'"
      [bgStyle]="'primary'"
      [borderStyle]="'gold'"
      [showExternalIcon]="true"
      [routerLink]="['/fifa/tournaments', tournament.id]"
    ></app-pill>
  </div>
</section>

<section
  id="player-detail-card"
  class="animate-fade px-4"
  *ngIf="loading == false && player != null"
>
  <div
    class="flex items-center justify-evenly rounded-lg bg-bgLight p-4 align-middle drop-shadow-lg dark:bg-bgDark"
  >
    <img
      class="rounded-full drop-shadow-lg"
      *ngIf="player.profilePictureUrl != null && player.profilePictureUrl != ''"
      src="{{ player.profilePictureUrl }}"
      width="64"
    />

    <img
      class="rounded-full drop-shadow-lg"
      *ngIf="player.profilePictureUrl == null || player.profilePictureUrl == ''"
      src="assets/img/gameon-logo.webp"
      width="64"
    />

    <div class="flex flex-col">
      <span class="text-xl font-semibold text-primary dark:text-primaryDark">{{
        player.fullName
      }}</span>
      <span class="text-xs text-gray-600 dark:text-gray-300">{{
        player.nickname
      }}</span>
    </div>
  </div>
</section>

<div class="mt-4 animate-fade px-4">
  <div class="w-full" *ngIf="player != null && player.id != 0">
    <div
      class="flex flex-col items-center rounded-lg bg-bgLight p-4 drop-shadow-lg dark:bg-bgDark"
    >
      <div class="w-full animate-fade text-center">
        <select
          (change)="onChangeSeason($event.target)"
          [ngModel]="selectedSeason"
          id="seasons"
          class="mt-2 block w-full rounded-lg border border-secondary bg-bgLight p-2.5 text-sm text-primary focus:border-blue-500 focus:ring-blue-500 dark:bg-bgDark dark:text-primaryDark"
        >
          <option *ngFor="let season of seasons" value="{{ season.id }}">
            {{ season.name }}
          </option>
        </select>

        <div
          class="mt-2 rounded-lg border border-secondary p-4"
          *ngIf="fifaPlayerStats != undefined && fifaPlayerStats != null"
        >
          <select
            [(ngModel)]="selectedStats"
            (change)="calculateStats()"
            id="stats"
            class="mb-4 block w-full rounded-lg border border-secondary bg-bgLight p-2.5 text-sm text-primary focus:border-blue-500 focus:ring-blue-500 dark:bg-bgDark dark:text-primaryDark"
          >
            <option
              *ngFor="let platform of fifaPlayerStats.statsPerPlatform"
              value="{{ platform.platform.id }}"
            >
              {{ platform.platform.name }}
            </option>
          </select>

          <div class="w-full">
            <app-fifa-stat [stat]="calculatedStats"></app-fifa-stat>
          </div>
        </div>

        <app-player-team-list
          *ngIf="
            fifaPlayerStats != undefined &&
            fifaPlayerStats != null &&
            fifaPlayerStats.mostPlayedTeams.length > 0
          "
          [teamList]="fifaPlayerStats.mostPlayedTeams"
          [title]="'Plus jouées'"
        ></app-player-team-list>

        <app-player-team-list
          *ngIf="
            fifaPlayerStats != undefined &&
            fifaPlayerStats != null &&
            fifaPlayerStats.mostWinsTeams.length > 0
          "
          [teamList]="fifaPlayerStats.mostWinsTeams"
          [title]="'Meilleures équipes'"
        ></app-player-team-list>

        <app-player-team-list
          *ngIf="
            fifaPlayerStats != undefined &&
            fifaPlayerStats != null &&
            fifaPlayerStats.mostPlayedTeams.length > 0
          "
          [teamList]="fifaPlayerStats.mostLossesTeams"
          [title]="'Pires équipes'"
        ></app-player-team-list>
      </div>
    </div>
  </div>
</div>

<div
  class="mt-4 flex animate-fade justify-between px-4"
  *ngIf="loading == false && games != null && games.length > 0"
>
  <span class="text-lg font-semibold text-primary dark:text-primaryDark"
    >Matchs joués</span
  >
</div>

<section
  id="my-matchs-planned"
  class="mt-4 flex flex-col space-y-4 px-4"
  *ngIf="loading == false && games != null && games.length > 0"
>
  <app-fifa-game-history-card
    *ngFor="let game of games"
    [game]="game"
  ></app-fifa-game-history-card>
</section>
