<section class="h-screen bg-bgDarker px-4 pt-4">
  <app-loading-spinner
    [@inOutAnimation]
    *ngIf="loading == true"
  ></app-loading-spinner>

  <app-common-page-header
    [icon]="seasonIcon"
    [title]="'Saisons'"
    [@inOutAnimation]
  ></app-common-page-header>

  <div class="mt-4 overflow-x-auto" *ngIf="loading == false">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-300">
      <thead class="text-xs text-gray-700 dark:text-gray-400 text-center">
        <tr>
          <th scope="col" class="px-6 py-3">#</th>
          <th scope="col" class="px-6 py-3">Nom</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b"
          *ngFor="let season of seasons"
        >
          <th
            class="px-6 py-4 font-medium text-gray-900 dark:text-gray-300 whitespace-nowrap text-center"
          >
            {{ season.id }}
          </th>
          <td class="px-6 py-4">
            {{ season.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
