<div
  [@inOutAnimation]
  class="flex flex-row items-center bg-primary p-4 rounded-lg neomorphism-primaryDarker m-8 md:mx-16 lg:mx-32 text-white"
  role="status"
  *ngIf="isLoading == true"
>
  <app-loading-spinner></app-loading-spinner>
  Chargement des données...
</div>

<div
  [@inOutAnimation]
  class="flex flex-row justify-center text-white m-8 md:mx-16 lg:mx-32 bg-primary p-4 rounded-lg neomorphism-primaryDarker"
>
  <span class="ml-1 text-white">Organiser un five</span>
</div>

<div
  [@inOutAnimation]
  class="flex flex-row justify-center text-white m-8 md:mx-16 lg:mx-32 bg-primary p-4 rounded-lg neomorphism-primaryDarker-2"
>
  <form [formGroup]="createFiveForm" class="w-full flex flex-col">
    <div
      class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 justify-around"
    >
      <div
        class="flex flex-col md:w-full space-y-4 bg-primaryDarker p-4 neomorphism-inner-primaryDarker rounded-lg"
      >
        <div class="flex flex-col md:flex-row md:space-x-4">
          <div class="relative z-0 w-full mb-6 group">
            <input
              type="text"
              id="name"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="name"
              required
            />
            <label
              for="name"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Nom
            </label>
          </div>
        </div>

        <div class="flex flex-col md:flex-row md:space-x-4">
          <div class="relative z-0 w-full mb-6 group">
            <input
              type="text"
              id="description"
              class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
              formControlName="description"
              required
            />
            <label
              for="description"
              class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Description
            </label>
          </div>
        </div>
      </div>
    </div>

    <button
      (click)="createFive()"
      class="text-white mt-4 bg-customGreen hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-customGreen font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
    >
      Organiser le five
    </button>
  </form>
</div>
