<div class="bg-bgLightDarker dark:bg-bgDarkDarker h-screen overflow-x-hidden">
  <div class="background h-screen overflow-x-hidden">
    <header
      class="bg-bgLight/30 dark:bg-bgDark/30 sticky top-0 z-50 flex h-16 items-center justify-between self-center px-4 backdrop-blur-xs backdrop-contrast-100 backdrop-saturate-100 backdrop-filter"
    >
      <a
        routerLink=""
        class="text-primaryDarker flex items-center justify-center self-center text-xl font-bold"
        ><img
          class="h-8 w-8"
          src="assets/img/gameon-logo.webp"
          alt="GameOn!'s logo"
        />
        <span class="dark:text-primaryDark ml-2">GameOn!</span></a
      >

      <div class="flex items-center justify-center space-x-4">
        <button type="button" class="cursor-pointer" (click)="toggleDarkMode()">
          <fa-icon
            [icon]="lightIcon"
            *ngIf="darkMode()"
            class="text-customYellow text-lg"
          ></fa-icon>
          <fa-icon
            [icon]="darkIcon"
            *ngIf="!darkMode()"
            class="text-frenchBlue text-lg"
          ></fa-icon>
        </button>
      </div>
    </header>

    <div>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
      <span class="bubble"></span>
    </div>

    <nav
      class="border-l-frenchBlue border-r-frenchRed bg-bgLight dark:border-y-bgLight dark:bg-bgDark fixed bottom-4 left-1/2 z-50 h-16 w-11/12 max-w-lg -translate-x-1/2 rounded-full border border-r-2 border-l-2 border-t-gray-300 border-b-gray-300 drop-shadow-xl"
    >
      <div
        class="flex h-full w-full grow basis-1 items-center justify-around align-middle"
      >
        <div
          routerLink=""
          class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full"
        >
          <fa-icon
            [icon]="homeIcon"
            class="text-primary dark:text-primaryDark text-lg"
          ></fa-icon>
        </div>

        <div
          class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full"
        >
          <img
            src="assets/img/svg/lol.svg"
            routerLink="/lol"
            class="w-10 min-w-10"
          />
        </div>

        <div
          class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full"
        >
          <button routerLink="/fifa/tournaments" type="button">
            <fa-icon
              [icon]="trophyIcon"
              class="text-primary dark:text-primaryDark text-lg"
            ></fa-icon>
          </button>
        </div>

        <div
          class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full"
        >
          <button
            *ngIf="isLoggedIn == true"
            routerLink="/player/me"
            type="button"
            class="group inline-flex flex-col items-center justify-center rounded-e-full"
          >
            <fa-icon
              [icon]="userIcon"
              class="text-primary dark:text-primaryDark text-lg"
            ></fa-icon>
          </button>

          <button
            *ngIf="isLoggedIn == false"
            (click)="login()"
            type="button"
            class="group inline-flex flex-col items-center justify-center rounded-e-full"
          >
            <fa-icon
              [icon]="userIcon"
              class="text-primary dark:text-primaryDark text-lg"
            ></fa-icon>
          </button>
        </div>
      </div>
    </nav>

    <div>
      <div
        class="3xl:px-96 bg-bgLightDarker dark:bg-bgDarkDarker px-0 pb-24 md:px-16 lg:overflow-y-scroll lg:px-32 lg:pb-0 xl:px-64 2xl:px-80"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
