<div class="lg:flex h-screen bg-bgLightDarker dark:bg-bgDarkDarker">
  <nav
    class="fixed lg:relative z-50 lg:z-auto w-11/12 lg:w-1/6 h-16 lg:h-auto max-w-lg lg:max-w-none -translate-x-1/2 lg:-translate-x-0 bg-bgLight dark:bg-bgDark border border-l-2 border-r-2 dark:border-2 lg:dark:border-0 border-l-frenchBlue border-t-gray-300 dark:border-y-bgLight border-b-gray-300 border-r-frenchRed lg:border-0 rounded-full lg:rounded-none bottom-4 lg:bottom-auto left-1/2 lg:left-auto drop-shadow-xl"
  >
    <div
      class="grid lg:flex lg:flex-col grid-cols-5 lg:grid-cols-none h-full lg:h-auto max-w-lg lg:max-w-full mx-auto lg:mx-0 lg:pt-4"
    >
      <div class="hidden lg:flex lg:flex-col lg:w-full lg:justify-center">
        <a
          routerLink=""
          class="px-4 flex self-center items-center justify-center text-xl font-bold text-primaryDarker"
          ><img
            class="w-8 h-8"
            src="assets/img/gameon-logo.webp"
            alt="GameOn!'s logo"
          />
          <span class="ml-2 dark:text-white">GameOn!</span></a
        >
      </div>

      <div
        routerLink=""
        class="lg:hidden cursor-pointer inline-flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-4 rounded-s-full lg:rounded-none group lg:mt-4"
      >
        <fa-icon
          [icon]="homeIcon"
          class="text-lg text-primary dark:text-primaryDark"
        ></fa-icon>
      </div>

      <div
        class="hidden lg:flex lg:flex-row lg:space-x-2 lg:items-center lg:mt-8 lg:px-8"
      >
        <span class="font-semibold text-primary dark:text-primaryDark"
          >Football</span
        >
      </div>

      <div
        class="cursor-pointer lg:mt-4 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button routerLink="/fifa" type="button" class="lg:hidden">
          <fa-icon
            [icon]="ballIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <a
          routerLink="/fifa"
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="ballIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Matchs joués</span>
        </a>
      </div>

      <div
        class="cursor-pointer lg:mt-2 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button
          (click)="createMatch()"
          type="button"
          class="lg:hidden inline-flex items-center justify-center w-10 h-10 font-medium bg-frenchBlue rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800"
        >
          <fa-icon [icon]="plusIcon" class="text-lg text-white"></fa-icon>
        </button>

        <a
          (click)="createMatch()"
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="plusIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark"
            >Ajouter un match</span
          >
        </a>
      </div>

      <div
        class="cursor-pointer lg:mt-2 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button routerLink="/fifa/tournaments" type="button" class="lg:hidden">
          <fa-icon
            [icon]="trophyIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <a
          routerLink="/fifa/tournaments"
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="trophyIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Tournois</span>
        </a>
      </div>

      <div
        class="hidden lg:flex lg:flex-row lg:space-x-2 lg:items-center lg:mt-8 lg:px-8"
      >
        <span class="font-semibold text-primary dark:text-primaryDark"
          >Compte</span
        >
      </div>

      <div
        class="cursor-pointer lg:mt-4 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button
          *ngIf="isLoggedIn == true"
          routerLink="/player/me"
          type="button"
          class="lg:hidden inline-flex flex-col items-center justify-center px-5 rounded-e-full group"
        >
          <fa-icon
            [icon]="userIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <button
          *ngIf="isLoggedIn == false"
          (click)="login()"
          type="button"
          class="lg:hidden inline-flex flex-col items-center justify-center px-5 rounded-e-full group"
        >
          <fa-icon
            [icon]="userIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <div class="hidden lg:flex lg:flex-col lg:space-y-2">
          <a
            *ngIf="!isLoggedIn"
            (click)="login()"
            class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
          >
            <fa-icon
              [icon]="userIcon"
              class="text-primary dark:text-primaryDark"
            ></fa-icon>
            <span class="text-primary dark:text-primaryDark">Connexion</span>
          </a>

          <a
            *ngIf="isLoggedIn"
            routerLink="/player/me"
            class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
          >
            <fa-icon [icon]="userIcon" class="text-secondary"></fa-icon>
            <span class="text-primary dark:text-primaryDark">Mon compte</span>
          </a>

          <a
            *ngIf="isAdmin"
            routerLink="/admin"
            class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
          >
            <fa-icon [icon]="adminIcon" class="text-frenchRed"></fa-icon>
            <span class="text-primary dark:text-primaryDark"
              >Administration</span
            >
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="lg:flex lg:flex-col lg:w-full">
    <header
      class="flex items-center justify-between lg:justify-end self-center h-16 px-4 bg-bgLight dark:bg-bgDark lg:w-full"
    >
      <a
        routerLink=""
        class="flex self-center items-center justify-center text-xl font-bold text-primaryDarker lg:hidden"
        ><img
          class="w-8 h-8"
          src="assets/img/gameon-logo.webp"
          alt="GameOn!'s logo"
        />
        <span class="ml-2 dark:text-primaryDark">GameOn!</span></a
      >

      <div class="flex justify-center items-center space-x-4">
        <app-pill
          [title]="'Me soutenir'"
          [icon]="btcIcon"
          [iconColor]="'text-customYellow'"
          [borderStyle]="'primary'"
          [showExternalIcon]="true"
          routerLink="/donate"
        ></app-pill>

        <button type="button" (click)="darkMode.set(!darkMode())">
          <fa-icon
            [icon]="lightIcon"
            *ngIf="darkMode()"
            class="text-lg text-customYellow"
          ></fa-icon>
          <fa-icon
            [icon]="darkIcon"
            *ngIf="!darkMode()"
            class="text-lg text-frenchBlue"
          ></fa-icon>
        </button>
      </div>
    </header>

    <div
      class="pb-24 lg:pb-0 px-0 md:px-16 lg:px-32 xl:px-64 2xl:px-80 3xl:px-96 lg:overflow-y-scroll bg-bgLightDarker dark:bg-bgDarkDarker"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
