<div class="lg:flex">
  <nav
    class="fixed lg:relative z-50 lg:z-auto w-11/12 lg:w-1/5 h-16 lg:h-auto max-w-lg lg:max-w-none -translate-x-1/2 bg-white border border-l-2 border-r-2 border-l-frenchBlue border-t-gray-300 border-b-gray-300 border-r-frenchRed lg:border-0 rounded-full lg:rounded-none bottom-4 lg:bottom-auto left-1/2 lg:left-auto drop-shadow-xl"
  >
    <div
      class="grid lg:flex lg:flex-col h-full lg:h-auto lg:m-0 max-w-lg grid-cols-5 mx-auto"
    >
      <button
        routerLink=""
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 group"
      >
        <fa-icon [icon]="homeIcon" class="text-lg text-primary"></fa-icon>
      </button>

      <button
        routerLink="/fifa"
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group"
      >
        <fa-icon [icon]="ballIcon" class="text-lg text-primary"></fa-icon>
      </button>

      <div class="flex items-center justify-center">
        <button
          (click)="createMatch()"
          type="button"
          class="inline-flex items-center justify-center w-10 h-10 font-medium bg-frenchBlue rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800"
        >
          <fa-icon [icon]="plusIcon" class="text-lg text-white"></fa-icon>
        </button>
      </div>

      <button
        routerLink="/fifa/tournaments"
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group"
      >
        <fa-icon [icon]="trophyIcon" class="text-lg text-primary"></fa-icon>
      </button>

      <button
        *ngIf="isLoggedIn == true"
        routerLink="/player/me"
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <fa-icon [icon]="userIcon" class="text-lg text-primary"></fa-icon>
      </button>

      <button
        *ngIf="isLoggedIn == false"
        (click)="login()"
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <fa-icon [icon]="userIcon" class="text-lg text-primary"></fa-icon>
      </button>
    </div>
  </nav>

  <div class="lg:flex lg:flex-col lg:w-full">
    <header
      class="flex items-center justify-between self-center h-16 px-4 bg-white lg:w-full"
    >
      <a
        routerLink=""
        class="flex self-center items-center justify-center text-xl font-bold text-primaryDarker"
        ><img
          class="w-8 h-8"
          src="assets/img/gameon-logo.webp"
          alt="GameOn!'s logo"
        />
        <span class="ml-2">GameOn!</span></a
      >

      <a
        *ngIf="isLoggedIn == false"
        class="text-2xl text-primary"
        (click)="login()"
        ><fa-icon [icon]="userIcon"></fa-icon
      ></a>

      <a
        *ngIf="isLoggedIn == true"
        class="text-2xl text-secondary"
        routerLink="/player/me"
        ><fa-icon [icon]="userIcon"></fa-icon
      ></a>
    </header>

    <div class="mb-24">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
