<div class="h-screen bg-bgLightDarker dark:bg-bgDarkDarker lg:flex">
  <nav
    class="fixed bottom-4 left-1/2 z-50 h-16 w-11/12 max-w-lg -translate-x-1/2 rounded-full border border-l-2 border-r-2 border-b-gray-300 border-l-frenchBlue border-r-frenchRed border-t-gray-300 bg-bgLight drop-shadow-xl dark:border-2 dark:border-y-bgLight dark:bg-bgDark lg:relative lg:bottom-auto lg:left-auto lg:z-auto lg:h-auto lg:w-1/6 lg:max-w-none lg:-translate-x-0 lg:rounded-none lg:border-0 lg:dark:border-0"
  >
    <div
      class="mx-auto grid h-full max-w-lg grid-cols-5 lg:mx-0 lg:flex lg:h-auto lg:max-w-full lg:grid-cols-none lg:flex-col lg:pt-4"
    >
      <div class="hidden lg:flex lg:w-full lg:flex-col lg:justify-center">
        <a
          routerLink="/admin"
          class="text-primaryDarker flex items-center justify-center self-center px-4 text-xl font-bold"
          ><img
            class="h-8 w-8"
            src="assets/img/gameon-logo.webp"
            alt="GameOn!'s logo"
          />
          <span class="ml-2 flex flex-col dark:text-white"
            >GameOn!<span
              class="rounded-full border border-frenchRed bg-frenchRed px-2 text-center text-sm font-normal text-white drop-shadow-lg"
              >Admin</span
            ></span
          ></a
        >
      </div>

      <div
        routerLink="/admin"
        class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full px-5 lg:mt-4 lg:hidden lg:flex-row lg:justify-start lg:rounded-none lg:px-4"
      >
        <fa-icon
          [icon]="homeIcon"
          class="text-lg text-primary dark:text-primaryDark"
        ></fa-icon>
      </div>

      <div
        class="hidden lg:mt-8 lg:flex lg:flex-row lg:items-center lg:space-x-2 lg:px-8"
      >
        <span class="font-semibold text-primary dark:text-primaryDark"
          >Football</span
        >
      </div>

      <div
        class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full px-5 lg:mt-4 lg:flex lg:flex-row lg:justify-start lg:rounded-none lg:px-8"
      >
        <button routerLink="/admin/fifa-games" type="button" class="lg:hidden">
          <fa-icon
            [icon]="ballIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <a
          routerLink="/admin/fifa-games"
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="ballIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Matchs</span>
        </a>
      </div>

      <div
        class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full px-5 lg:mt-2 lg:flex lg:flex-row lg:justify-start lg:rounded-none lg:px-8"
      >
        <button
          type="button"
          routerLink=""
          class="group inline-flex h-10 w-10 items-center justify-center rounded-full bg-frenchBlue font-medium hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 lg:hidden"
        >
          <fa-icon [icon]="homeIcon" class="text-lg text-white"></fa-icon>
        </button>

        <a
          routerLink=""
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="homeIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Retour au site</span>
        </a>
      </div>

      <div
        class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full px-5 lg:mt-2 lg:flex lg:flex-row lg:justify-start lg:rounded-none lg:px-8"
      >
        <button routerLink="/fifa/tournaments" type="button" class="lg:hidden">
          <fa-icon
            [icon]="trophyIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <a
          routerLink="/admin/tournaments"
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="trophyIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Tournois</span>
        </a>
      </div>

      <div
        class="group inline-flex cursor-pointer flex-col items-center justify-center rounded-s-full px-5 lg:mt-4 lg:flex lg:flex-row lg:justify-start lg:rounded-none lg:px-8"
      >
        <button
          *ngIf="isLoggedIn == true"
          routerLink="/player/me"
          type="button"
          class="group inline-flex flex-col items-center justify-center rounded-e-full px-5 lg:hidden"
        >
          <fa-icon
            [icon]="userIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>
      </div>
    </div>
  </nav>

  <div class="lg:flex lg:w-full lg:flex-col">
    <header
      class="flex h-16 items-center justify-between self-center bg-bgLight px-4 dark:bg-bgDark lg:w-full lg:justify-end"
    >
      <a
        routerLink="/admin"
        class="text-primaryDarker flex items-center justify-center self-center text-xl font-bold lg:hidden"
        ><img
          class="h-8 w-8"
          src="assets/img/gameon-logo.webp"
          alt="GameOn!'s logo"
        />
        <span class="ml-2 flex flex-col dark:text-primaryDark"
          ><span>GameOn!</span>
          <span
            class="rounded-full border border-frenchRed bg-frenchRed px-2 text-center text-sm font-normal text-white drop-shadow-lg"
            >Admin</span
          >
        </span></a
      >

      <button type="button" (click)="darkMode.set(!darkMode())">
        <fa-icon
          [icon]="lightIcon"
          *ngIf="darkMode()"
          class="text-lg text-customYellow"
        ></fa-icon>
        <fa-icon
          [icon]="darkIcon"
          *ngIf="!darkMode()"
          class="text-lg text-frenchBlue"
        ></fa-icon>
      </button>
    </header>

    <div
      class="bg-bgLightDarker pb-24 dark:bg-bgDarkDarker lg:overflow-y-scroll lg:pb-0"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
