<div class="lg:flex h-screen bg-bgLightDarker dark:bg-bgDarkDarker">
  <nav
    class="fixed lg:relative z-50 lg:z-auto w-11/12 lg:w-1/6 h-16 lg:h-auto max-w-lg lg:max-w-none -translate-x-1/2 lg:-translate-x-0 bg-bgLight dark:bg-bgDark border border-l-2 border-r-2 dark:border-2 lg:dark:border-0 border-l-frenchBlue border-t-gray-300 dark:border-y-bgLight border-b-gray-300 border-r-frenchRed lg:border-0 rounded-full lg:rounded-none bottom-4 lg:bottom-auto left-1/2 lg:left-auto drop-shadow-xl"
  >
    <div
      class="grid lg:flex lg:flex-col grid-cols-5 lg:grid-cols-none h-full lg:h-auto max-w-lg lg:max-w-full mx-auto lg:mx-0 lg:pt-4"
    >
      <div class="hidden lg:flex lg:flex-col lg:w-full lg:justify-center">
        <a
          routerLink="/admin"
          class="px-4 flex self-center items-center justify-center text-xl font-bold text-primaryDarker"
          ><img
            class="w-8 h-8"
            src="assets/img/gameon-logo.webp"
            alt="GameOn!'s logo"
          />
          <span class="ml-2 dark:text-white flex flex-col"
            >GameOn!<span
              class="drop-shadow-lg rounded-full px-2 border border-frenchRed bg-frenchRed text-center font-normal text-white text-sm"
              >Admin</span
            ></span
          ></a
        >
      </div>

      <div
        routerLink="/admin"
        class="lg:hidden cursor-pointer inline-flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-4 rounded-s-full lg:rounded-none group lg:mt-4"
      >
        <fa-icon
          [icon]="homeIcon"
          class="text-lg text-primary dark:text-primaryDark"
        ></fa-icon>
      </div>

      <div
        class="hidden lg:flex lg:flex-row lg:space-x-2 lg:items-center lg:mt-8 lg:px-8"
      >
        <span class="font-semibold text-primary dark:text-primaryDark"
          >Football</span
        >
      </div>

      <div
        class="cursor-pointer lg:mt-4 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button routerLink="/admin/fifa-games" type="button" class="lg:hidden">
          <fa-icon
            [icon]="ballIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <a
          routerLink="/admin/fifa-games"
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="ballIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Matchs</span>
        </a>
      </div>

      <div
        class="cursor-pointer lg:mt-2 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button
          type="button"
          routerLink=""
          class="lg:hidden inline-flex items-center justify-center w-10 h-10 font-medium bg-frenchBlue rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800"
        >
          <fa-icon [icon]="homeIcon" class="text-lg text-white"></fa-icon>
        </button>

        <a
          routerLink=""
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="homeIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Retour au site</span>
        </a>
      </div>

      <div
        class="cursor-pointer lg:mt-2 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button routerLink="/fifa/tournaments" type="button" class="lg:hidden">
          <fa-icon
            [icon]="trophyIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>

        <a
          routerLink="/admin/tournaments"
          class="hidden lg:flex lg:flex-row lg:items-center lg:space-x-2"
        >
          <fa-icon
            [icon]="trophyIcon"
            class="text-primary dark:text-primaryDark"
          ></fa-icon>
          <span class="text-primary dark:text-primaryDark">Tournois</span>
        </a>
      </div>

      <div
        class="cursor-pointer lg:mt-4 inline-flex lg:flex flex-col lg:flex-row items-center justify-center lg:justify-start px-5 lg:px-8 rounded-s-full lg:rounded-none group"
      >
        <button
          *ngIf="isLoggedIn == true"
          routerLink="/player/me"
          type="button"
          class="lg:hidden inline-flex flex-col items-center justify-center px-5 rounded-e-full group"
        >
          <fa-icon
            [icon]="userIcon"
            class="text-lg text-primary dark:text-primaryDark"
          ></fa-icon>
        </button>
      </div>
    </div>
  </nav>

  <div class="lg:flex lg:flex-col lg:w-full">
    <header
      class="flex items-center justify-between lg:justify-end self-center h-16 px-4 bg-bgLight dark:bg-bgDark lg:w-full"
    >
      <a
        routerLink="/admin"
        class="flex self-center items-center justify-center text-xl font-bold text-primaryDarker lg:hidden"
        ><img
          class="w-8 h-8"
          src="assets/img/gameon-logo.webp"
          alt="GameOn!'s logo"
        />
        <span class="ml-2 dark:text-primaryDark flex flex-col"
          ><span>GameOn!</span>
          <span
            class="drop-shadow-lg rounded-full px-2 border border-frenchRed bg-frenchRed text-center font-normal text-white text-sm"
            >Admin</span
          >
        </span></a
      >

      <button type="button" (click)="darkMode.set(!darkMode())">
        <fa-icon
          [icon]="lightIcon"
          *ngIf="darkMode()"
          class="text-lg text-customYellow"
        ></fa-icon>
        <fa-icon
          [icon]="darkIcon"
          *ngIf="!darkMode()"
          class="text-lg text-frenchBlue"
        ></fa-icon>
      </button>
    </header>

    <div
      class="pb-24 lg:pb-0 lg:overflow-y-scroll bg-bgLightDarker dark:bg-bgDarkDarker"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
