<div class="mt-4 px-4">
  <app-loading-spinner *ngIf="loading == true"></app-loading-spinner>
</div>

<section id="profile-popups" class="mt-4 px-4">
  <app-success-alert
    *ngIf="showSuccess == true"
    [text]="'Mise à jour réussie !'"
    [(show)]="showSuccess"
  ></app-success-alert>
</section>

<section
  id="profile-head"
  class="mt-8 px-4"
  *ngIf="loading == false && (player$ | async) as currentPlayer"
>
  <app-success-alert
    *ngIf="showSuccess == true"
    [text]="'Mise à jour réussie !'"
    [(show)]="showSuccess"
  ></app-success-alert>

  <div class="flex w-full flex-col items-center justify-center">
    <img
      class="w-32 rounded-full drop-shadow-lg"
      *ngIf="currentPlayer.profilePictureUrl != null"
      src="{{ apiUrl }}/player/{{ currentPlayer.id }}/pp"
    />

    <img
      class="w-32 rounded-full drop-shadow-lg"
      *ngIf="currentPlayer.profilePictureUrl == null"
      src="assets/img/gameon-logo.webp"
    />

    <span
      class="text-primary dark:text-primaryDark mt-2 text-xl font-semibold"
      >{{ currentPlayer.nickname }}</span
    >
    <span class="text-gray-500 dark:text-gray-400">{{
      currentPlayer.fullName
    }}</span>
  </div>
</section>

<div class="mt-8">
  <div
    class="animate-fade mt-4 flex justify-between px-4"
    *ngIf="
      loading == false && isAdmin == true && (player$ | async) as currentPlayer
    "
  >
    <span class="text-primary dark:text-primaryDark text-lg font-semibold"
      >Administration</span
    >
  </div>

  <section
    id="player-admin"
    class="animate-fade mt-4 px-4"
    *ngIf="
      loading == false && isAdmin == true && (player$ | async) as currentPlayer
    "
  >
    <div
      class="bg-bgLight/30 dark:bg-bgDark/30 rounded-lg p-4 text-sm drop-shadow-lg"
    >
      <div
        class="text-customRed flex cursor-pointer flex-row justify-between"
        [routerLink]="['/admin']"
      >
        <a
          ><fa-icon [icon]="adminIcon" class="mr-2"></fa-icon> Accéder à
          l'espace d'administration
        </a>

        <fa-icon [icon]="arrowRightIcon"></fa-icon>
      </div>

      <hr class="my-4" />

      <div
        class="text-customYellow flex cursor-pointer flex-row justify-between"
        [cdkCopyToClipboard]="token"
      >
        <a
          ><fa-icon [icon]="keyIcon" class="mr-2"></fa-icon> Copier le token
        </a>

        <fa-icon [icon]="externalIcon"></fa-icon>
      </div>
    </div>
  </section>

  <div
    class="animate-fade mt-4 flex justify-between px-4"
    *ngIf="loading == false && (player$ | async) as currentPlayer"
  >
    <span class="text-primary dark:text-primaryDark text-lg font-semibold"
      >FIFA</span
    >
  </div>

  <section
    id="player-fifa"
    class="animate-fade mt-4 px-4"
    *ngIf="loading == false && (player$ | async) as currentPlayer"
  >
    <div
      class="bg-bgLight/30 dark:bg-bgDark/30 rounded-lg p-4 text-sm drop-shadow-lg"
    >
      <div
        class="text-primary dark:text-primaryDark flex cursor-pointer flex-row justify-between"
        [routerLink]="['/player', currentPlayer.id]"
      >
        <a
          ><fa-icon [icon]="soccerIcon" class="mr-2"></fa-icon> Mes
          statistiques</a
        >

        <fa-icon [icon]="arrowRightIcon"></fa-icon>
      </div>
    </div>
  </section>

  <div
    class="animate-fade mt-4 flex justify-between px-4"
    *ngIf="loading == false && (player$ | async) as currentPlayer"
  >
    <span class="text-primary dark:text-primaryDark text-lg font-semibold"
      >League of Legends</span
    >
  </div>

  <section
    id="player-lol"
    class="animate-fade mt-4"
    *ngIf="loading == false && (player$ | async) as currentPlayer"
  >
    <app-info-message
      *ngIf="currentPlayer.riotGamesNickname == null"
      [title]="
        'Vous pouvez renseigner votre compte Riot Games au niveau des préférences de votre profil !'
      "
    ></app-info-message>

    <div
      class="bg-bgLight/30 dark:bg-bgDark/30 mx-4 rounded-lg p-4 text-sm drop-shadow-lg"
    >
      <div
        class="text-primary dark:text-primaryDark flex cursor-pointer flex-row justify-between"
        [routerLink]="['/lol/summoner', currentPlayer.id]"
      >
        <div class="flex items-center space-x-2">
          <img src="assets/img/svg/lol.svg" class="w-8" />
          <span>Voir mon profil</span>
        </div>

        <fa-icon [icon]="arrowRightIcon"></fa-icon>
      </div>
    </div>
  </section>

  <div
    class="animate-fade mt-4 flex justify-between px-4"
    *ngIf="loading == false && (player$ | async) as currentPlayer"
  >
    <span class="text-primary dark:text-primaryDark text-lg font-semibold"
      >Préférences</span
    >
  </div>

  <section
    id="player-preferences"
    class="animate-fade mt-4 px-4"
    *ngIf="loading == false && (player$ | async) as currentPlayer"
  >
    <div
      class="bg-bgLight/30 dark:bg-bgDark/30 rounded-lg p-4 text-sm drop-shadow-lg"
    >
      <div
        class="text-primary dark:text-primaryDark flex cursor-pointer flex-row justify-between"
      >
        <span
          ><fa-icon [icon]="calendarIcon" class="mr-2"></fa-icon>
          {{ currentPlayer.createdOn | date: "medium" }}</span
        >
      </div>

      <hr class="my-4" />

      <form [formGroup]="updatePlayerForm">
        <div class="group relative z-0 mb-6 w-full">
          <input
            type="text"
            id="fullname"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            required
            formControlName="fullName"
          />
          <label
            for="fullname"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Nom complet
            <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="text"
            id="nickname"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            required
            formControlName="nickname"
          />
          <label
            for="nickname"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Pseudo
            <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <label
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            for="file_input"
            >Photo de profil</label
          >
          <input
            class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:placeholder-gray-400"
            aria-describedby="file_input_help"
            id="file_input"
            type="file"
            (change)="uploadProfilePicture($event)"
          />
          <p
            class="mt-1 text-sm text-gray-500 dark:text-gray-300"
            id="file_input_help"
          >
            PNG, JPG ou GIF pour des résultats optimaux.
          </p>
          <!-- <input
            type="text"
            id="profilePictureUrl"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="profilePictureUrl"
          />
          <label
            for="profilePictureUrl"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Photo de profil (URL)
          </label> -->
        </div>

        <hr class="my-4" />

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="text"
            id="riotGamesNickname"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            required
            formControlName="riotGamesNickname"
          />
          <label
            for="riotGamesNickname"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Nom de compte Riot Games
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="text"
            id="riotGamesTagLine"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            required
            formControlName="riotGamesTagLine"
          />
          <label
            for="riotGamesTagLine"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Tag (exemple: EUW)
          </label>
        </div>

        <button
          (click)="updateUser()"
          class="border-customGreen bg-bgLight text-customGreen hover:bg-customGreen focus:ring-customGreen dark:bg-bgDark w-full rounded-lg border px-5 py-2.5 text-center text-sm transition delay-50 ease-in-out hover:text-white focus:ring-4 focus:outline-none"
        >
          Mettre à jour
        </button>
      </form>

      <hr class="my-4" />

      <div
        class="text-customRed flex cursor-pointer flex-row justify-between"
        (click)="logout()"
      >
        <a><fa-icon [icon]="logoutIcon" class="mr-2"></fa-icon> Déconnexion </a>

        <fa-icon [icon]="arrowRightIcon"></fa-icon>
      </div>
    </div>
  </section>
</div>
