<div class="flex flex-col justify-between space-x-4 bg-gray-600/40 p-4">
  <div class="flex w-full">
    <div class="flex w-full justify-between">
      <div class="flex space-x-2">
        <div class="flex w-16 flex-col items-center">
          <img
            class="w-16 rounded-full"
            src="assets/img/gameon-logo.webp"
            *ngIf="player.championName == null || player.championName == ''"
          />

          <img
            class="w-16 rounded-full"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/champion/{{ player.championName }}.png"
            *ngIf="player.championName != null && player.championName != ''"
          />

          <span
            class="z-50 -mt-2 rounded-full bg-gray-800 text-xs text-white"
            *ngIf="player.champLevel == null || player.champLevel == 0"
            >??</span
          >

          <span
            class="z-50 -mt-2 rounded-full bg-gray-800 px-1 text-xs text-white"
            *ngIf="player.champLevel != null && player.champLevel != 0"
            >{{ player.champLevel }}</span
          >
        </div>

        <div class="flex flex-col justify-center">
          <span class="text-sm text-white">{{ player.riotIdGameName }}</span>
          <a
            class="text-sm text-gray-300"
            href="https://www.op.gg/summoners/euw/{{ player.riotIdGameName }}-{{
              player.riotIdTagLine
            }}"
            ><fa-icon [icon]="externalIcon"></fa-icon> OP.GG</a
          >
        </div>
      </div>

      <div class="flex items-center justify-center">
        <span class="text-sm text-white"
          >{{ player.kills }} / {{ player.deaths }} / {{ player.assists }}</span
        >
      </div>

      <div class="flex flex-col">
        <div class="flex">
          <img
            *ngIf="player.item0 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item0 }}.png"
          /><img
            *ngIf="player.item1 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item1 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item2 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item2 }}.png"
          />
        </div>
        <div class="flex">
          <img
            *ngIf="player.item3 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item3 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item4 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item4 }}.png"
          /><img
            class="w-6"
            *ngIf="player.item5 != 0"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item5 }}.png"
          /><img
            *ngIf="player.item6 != 0"
            class="w-6"
            src="https://ddragon.leagueoflegends.com/cdn/{{
              currentLoLPatch
            }}/img/item/{{ player.item6 }}.png"
          />
        </div>
      </div>
    </div>

    <div
      class="flex w-8 cursor-pointer items-center justify-center text-white"
      (click)="showPlayerTimeline()"
    >
      <fa-icon [icon]="detailsIcon"></fa-icon>
    </div>
  </div>

  <div class="mt-4 text-white" *ngIf="showTimeline == true">
    <app-lol-game-details-player-graph
      [timeline]="personalTimeline"
    ></app-lol-game-details-player-graph>
  </div>
</div>
