<div
  class="border-bgLightDarker dark:border-bgDarkDarker bg-bgLight/80 dark:bg-bgDark/80 animate-fade mx-auto mt-4 flex w-fit flex-col items-center gap-3 rounded-2xl border p-8 text-center shadow-sm backdrop-blur-md backdrop-contrast-100 backdrop-saturate-100 backdrop-filter"
  role="status"
>
  <div
    class="border-secondary/20 border-t-secondary h-10 w-10 animate-spin rounded-full border-4"
  ></div>

  <span class="text-primary dark:text-primaryDark text-sm font-medium"
    >Chargement des données...</span
  >
</div>
