<div
  class="flex w-full bg-bgLight dark:bg-bgDark rounded-lg border border-gray-300 drop-shadow-lg justify-between p-2 cursor-pointer"
  [routerLink]="['/fifa/details', game.id]"
>
  <div class="flex flex-col justify-center items-center align-center w-2/5">
    <img
      *ngIf="game.team1.fifaTeamId != null && game.team1.fifaTeamId != 0"
      src="assets/img/fifa/teams/{{ game.team1.fifaTeamId }}.png"
      class="rounded-full w-8 h-8"
    />

    <span
      *ngFor="let player of game.team1.players"
      class="text-xs font-semibold text-primary dark:text-primaryDark"
      >{{ player.nickname }}</span
    >
  </div>

  <div class="flex flex-col justify-center items-center text-center">
    <span
      *ngIf="game != null && game.isPlayed == false"
      class="text-gray-500 dark:text-gray-300"
      >Planifié</span
    >

    <span
      *ngIf="game != null && game.isPlayed == true"
      class="font-semibold text-primary dark:text-primaryDark"
      >{{ game.team1.score }} - {{ game.team2.score }}</span
    >

    <span
      *ngIf="game != null && game.isPlayed == true"
      class="text-xs text-gray-500 dark:text-gray-300"
      >{{ game.platform }}</span
    >

    <span
      *ngIf="game != null && isAdmin == true"
      class="drop-shadow-lg rounded-full px-2 border border-frenchRed bg-frenchRed text-white text-xs mt-2 cursor-pointer"
      [routerLink]="['/admin/fifa-games/edit', game.id]"
    >
      Modifier
    </span>
  </div>

  <div class="flex flex-col justify-center items-center w-2/5">
    <img
      *ngIf="game.team2.fifaTeamId != null && game.team2.fifaTeamId != 0"
      src="assets/img/fifa/teams/{{ game.team2.fifaTeamId }}.png"
      class="rounded-full w-8 h-8"
    />

    <span
      *ngFor="let player of game.team2.players"
      class="text-xs font-semibold text-primary dark:text-primaryDark"
      >{{ player.nickname }}</span
    >
  </div>
</div>
