.chart-container {
  position: relative;
  width: 100%;
  height: 340px;
}

#rank-history-chart {
  width: 100% !important;
  height: 100% !important;
}

@media screen and (max-width: 768px) {
  .chart-container {
    height: 280px;
  }

  #rank-history-chart {
    height: 100% !important;
  }
}
