<section
  id="header-pills"
  class="p-4 overflow-x-scroll"
  [@inOutAnimation]
  *ngIf="loading == false"
>
  <div class="flex flex-row flex-nowrap whitespace-nowrap w-full space-x-2">
    <span
      class="drop-shadow-lg rounded-full px-2 border border-secondary bg-secondary text-white text-sm"
    >
      {{ game.season.name }}
    </span>

    <span
      *ngIf="game != null && game.tournamentId != null"
      [routerLink]="['/fifa/tournaments', game.tournamentId]"
      class="drop-shadow-lg rounded-full px-2 border border-yellow-300 bg-yellow-300 text-white text-sm cursor-pointer"
    >
      Accéder au tournoi
      <fa-icon class="ml-1 text-xs" [icon]="externalIcon"></fa-icon>
    </span>

    <span
      *ngIf="game != null && isAdmin == true"
      [routerLink]="['/admin/fifa-games/edit', gameId]"
      class="drop-shadow-lg rounded-full px-2 border border-frenchRed bg-frenchRed text-white text-sm cursor-pointer"
    >
      Modifier
      <fa-icon class="ml-1 text-xs" [icon]="externalIcon"></fa-icon>
    </span>
  </div>
</section>

<section id="game-details-header" class="px-4">
  <app-loading-spinner
    *ngIf="loading == true"
    [@inOutAnimation]
  ></app-loading-spinner>

  <div class="mb-4" *ngIf="successMessage == true">
    <app-success-alert
      [text]="'Mise à jour réussie !'"
      [(show)]="successMessage"
      [@inOutAnimation]
    ></app-success-alert>
  </div>

  <div *ngIf="loading == false" [@inOutAnimation]>
    <app-fifa-game-history-card [game]="game"></app-fifa-game-history-card>
  </div>
</section>

<div class="px-4 mt-4 flex" [@inOutAnimation]>
  <span class="text-lg font-semibold">Détails du match</span>
</div>

<section
  *ngIf="loading == false"
  id="game-details"
  class="m-4 mt-4 bg-white p-4 rounded-lg drop-shadow-lg"
  [@inOutAnimation]
>
  <span class="text-xs text-primary" *ngIf="game.isPlayed == true">
    <fa-icon [icon]="clockIcon"></fa-icon> {{ game.playedOn | date : "medium" }}
  </span>

  <hr class="mt-4" />

  <div class="flex flex-col mt-4">
    <div class="flex justify-between text-xs">
      <div class="flex flex-col">
        <span *ngFor="let player of game.team1.players">{{
          player.nickname
        }}</span>
      </div>
      <div class="grow text-center font-semibold">
        <span>Buts</span>
      </div>
      <div class="flex flex-col text-right">
        <span *ngFor="let player of game.team2.players">{{
          player.nickname
        }}</span>
      </div>
    </div>
    <div
      class="w-full bg-gray-200 rounded-full h-2.5"
      [ngClass]="{
        'bg-red-500': game.team1.score > game.team2.score,
        'bg-green-500': game.team1.score < game.team2.score,
        'bg-yellow-200': game.team1.score == game.team2.score
      }"
    >
      <div
        class="bg-blue-600 h-2.5 rounded-full"
        *ngIf="game.team1.score != game.team2.score"
        [ngClass]="{
          'bg-green-500': game.team1.score > game.team2.score,
          'bg-red-500': game.team1.score < game.team2.score
        }"
        style="width: {{ team1GoalPercentage }}%"
      ></div>
    </div>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary"
  [@inOutAnimation]
  *ngIf="loading == false"
>
  <span class="text-lg font-semibold">Temps forts</span>
  <button (click)="toggleCreateHighlightForm()">
    <fa-icon [icon]="plusIcon"></fa-icon>
  </button>
</div>

<section
  *ngIf="
    loading == false &&
    (game.highlights == null ||
      game.highlights.length == 0 ||
      showCreateHighlightForm == true)
  "
  id="highlights"
  class="m-4 mt-4 bg-white p-4 rounded-lg drop-shadow-lg"
>
  <span
    *ngIf="game.highlights == null || game.highlights.length == 0"
    class="text-xs text-primary text-center"
  >
    Aucun temps fort n'est disponible pour ce match.
  </span>

  <hr
    class="my-4"
    [@inOutAnimation]
    *ngIf="
      (game.highlights == null || game.highlights.length == 0) &&
      showCreateHighlightForm == true
    "
  />

  <form
    [@inOutAnimation]
    *ngIf="showCreateHighlightForm == true"
    [formGroup]="createHighlightForm"
    class="mt-4"
  >
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        id="name"
        class="block py-2.5 px-0 w-full text-sm text-primary bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        required
        maxlength="50"
        formControlName="name"
      />
      <label
        for="name"
        class="peer-focus:font-medium absolute text-sm text-gray-600 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Nom du temps fort
        <span class="text-customRed">*</span>
      </label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        id="description"
        class="block py-2.5 px-0 w-full text-sm text-primary bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        maxlength="500"
        formControlName="description"
      />
      <label
        for="description"
        class="peer-focus:font-medium absolute text-sm text-gray-600 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Description
      </label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        id="externalUrl"
        class="block py-2.5 px-0 w-full text-sm text-primary bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
        required
        maxlength="3000"
        formControlName="externalUrl"
      />
      <label
        for="externalUrl"
        class="peer-focus:font-medium absolute text-sm text-gray-600 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Lien externe (YouTube, ...)
      </label>
    </div>

    <button
      (click)="createHighlight()"
      class="text-customGreen hover:text-white transition ease-in-out delay-50 border border-customGreen bg-white hover:bg-customGreen focus:ring-4 focus:outline-none focus:ring-customGreen rounded-lg text-sm w-full px-5 py-2.5 text-center"
    >
      Ajouter
    </button>
  </form>
</section>

<section
  *ngIf="loading == false && game.highlights != null"
  id="highlights-list"
  class="px-4 mt-4 flex flex-col space-y-4"
  [@inOutAnimation]
>
  <div
    *ngFor="let highlight of game.highlights"
    [@inOutAnimation]
    class="bg-white rounded-lg drop-shadow-lg"
  >
    <div
      class="bg-secondary rounded-tl-lg rounded-tr-lg p-4 text-white font-semibold"
      [ngClass]="{
        'rounded-lg':
          highlight.description == null && highlight.externalUrl == null
      }"
    >
      <span>{{ highlight.name }}</span>
    </div>

    <div
      class="bg-white rounded-tl-lg rounded-tr-lg p-4 text-primary"
      *ngIf="highlight.description != null"
      [ngClass]="{
        'rounded-bl-lg': highlight.externalUrl == null,
        'rounded-br-lg': highlight.externalUrl == null
      }"
    >
      <span>{{ highlight.description }}</span>
    </div>

    <div
      class="bg-white rounded-bl-lg rounded-br-lg p-4 text-primary"
      *ngIf="highlight.externalUrl != null"
    >
      <a [href]="highlight.externalUrl" target="_blank"
        >Accéder au lien externe <fa-icon [icon]="externalIcon"></fa-icon
      ></a>
    </div>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary"
  [@inOutAnimation]
  *ngIf="loading == false"
>
  <span class="text-lg font-semibold">Équipe #1</span>
</div>

<section
  *ngIf="loading == false && game.team1 != null"
  id="players-team1-list"
  class="px-4 mt-4"
  [@inOutAnimation]
>
  <div class="bg-white rounded-lg" *ngFor="let player of game.team1.players">
    <app-player-card [player]="player"></app-player-card>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between text-primary"
  [@inOutAnimation]
  *ngIf="loading == false"
>
  <span class="text-lg font-semibold">Équipe #2</span>
</div>

<section
  *ngIf="loading == false && game.team1 != null"
  id="players-team2-list"
  class="px-4 mt-4"
  [@inOutAnimation]
>
  <div class="bg-white rounded-lg" *ngFor="let player of game.team2.players">
    <app-player-card [player]="player"></app-player-card>
  </div>
</section>
