<section id="fifa-header">
  <div
    class="flex animate-fade cursor-pointer items-center justify-between"
    routerLink="/fifa"
  >
    <div class="flex items-center justify-center space-x-2">
      <fa-icon
        [icon]="soccerIcon"
        class="cursor-pointer text-primary dark:text-primaryDark"
      ></fa-icon>

      <span class="text-lg font-semibold text-primary dark:text-primaryDark"
        >FIFA</span
      >
    </div>

    <app-loading-spinner-tiny
      *ngIf="loading == true"
    ></app-loading-spinner-tiny>
  </div>
</section>

<section id="fifa-pill">
  <div class="flex justify-between pt-4">
    <app-pill
      *ngIf="season != null"
      [title]="season.name"
      [bgStyle]="'secondary'"
    ></app-pill>

    <app-pill
      *ngFor="let tournament of tournaments"
      [title]="tournament.name"
      [icon]="tournamentIcon"
      [iconColor]="'text-frenchRed'"
      [iconPulsate]="true"
      [borderStyle]="'red'"
      [pointer]="true"
      [routerLink]="['/fifa/tournaments', tournament.id]"
    ></app-pill>
  </div>
</section>

<section id="fifa-header-card">
  <div
    class="fifa-card mt-4 flex aspect-video animate-fade-right cursor-pointer flex-col justify-between rounded-lg px-4 font-bold text-white drop-shadow-lg"
    routerLink="/fifa"
  >
    <span class="mt-2 w-full text-center">Tournoi Yunit - 21 avril 2023</span>
    <span class="mb-2 w-full text-right text-sm"></span>
  </div>
</section>

<section id="fifa-player-stats">
  <div class="mt-4 flex space-x-2" *ngIf="isLoggedIn == true">
    <div
      class="flex animate-fade-right cursor-pointer flex-col items-center justify-center space-y-2 rounded-lg bg-bgLight px-8 py-2 drop-shadow-lg dark:bg-bgDark"
      *ngIf="this.player$ | async as player"
      routerLink="/player/me"
    >
      <img
        class="w-32 rounded-full"
        *ngIf="
          player.profilePictureUrl != null && player.profilePictureUrl != ''
        "
        src="{{ player.profilePictureUrl }}"
      />

      <img
        class="w-32 rounded-full drop-shadow-lg"
        *ngIf="
          player.profilePictureUrl == null || player.profilePictureUrl == ''
        "
        src="assets/img/gameon-logo.webp"
      />
    </div>

    <div
      class="flex w-full animate-fade-left flex-col space-y-2 rounded-lg bg-bgLight px-8 py-2 drop-shadow-lg dark:bg-bgDark"
      *ngIf="this.globalStats$ | async as globalStats"
    >
      <app-fifa-stat
        [stat]="globalStats"
        *ngIf="globalStats != null"
      ></app-fifa-stat>
    </div>
  </div>
</section>

<section id="fifa-planned-matches" *ngIf="isLoggedIn == true">
  <div class="mt-4">
    <app-info-message
      [type]="'error'"
      [title]="
        'Une erreur est survenue lors de la récupération des matchs planifiés.'
      "
      *ngIf="plannedMatchesError == true"
      [applyMargin]="false"
    ></app-info-message>
  </div>

  <div class="animate-fade-up">
    <div class="mt-4 flex items-center justify-between">
      <span
        class="text-lg font-semibold text-primary dark:text-primaryDark"
        *ngIf="loadingPlannedMatches == true || plannedMatches.length > 0"
        >Mes prochains matchs</span
      >

      <app-loading-spinner-tiny
        *ngIf="loadingPlannedMatches == true"
      ></app-loading-spinner-tiny>
    </div>

    <div
      *ngIf="loadingPlannedMatches == false && plannedMatches.length > 0"
      class="mt-4"
    >
      <div class="mt-4 flex w-full flex-col space-y-4">
        <app-fifa-game-history-card
          *ngFor="let game of plannedMatches"
          [game]="game"
        ></app-fifa-game-history-card>
      </div>
    </div>
  </div>
</section>

<section id="fifa-last-matches">
  <div class="mt-4">
    <app-info-message
      [type]="'error'"
      [title]="
        'Une erreur est survenue lors de la récupération des derniers matchs joués.'
      "
      *ngIf="lastMatchesError == true"
      [applyMargin]="false"
    ></app-info-message>
  </div>

  <div class="animate-fade-up">
    <div class="mt-4 flex items-center justify-between">
      <span
        class="text-lg font-semibold text-primary dark:text-primaryDark"
        *ngIf="loadingLastMatches == true || lastMatches.length > 0"
        ><span *ngIf="isLoggedIn == true">Mes derniers matchs joués</span
        ><span *ngIf="isLoggedIn == false">Derniers matchs joués</span></span
      >

      <app-loading-spinner-tiny
        *ngIf="loadingLastMatches == true"
      ></app-loading-spinner-tiny>
    </div>

    <div
      *ngIf="loadingLastMatches == false && lastMatches.length > 0"
      class="mt-4"
    >
      <div class="mt-4 flex w-full flex-col space-y-4">
        <app-fifa-game-history-card
          *ngFor="let game of lastMatches"
          [game]="game"
        ></app-fifa-game-history-card>
      </div>
    </div>
  </div>
</section>
