<section class="h-screen bg-bgDarker px-4 pt-4">
  <app-loading-spinner
    *ngIf="loading == true"
    [@inOutAnimation]
  ></app-loading-spinner>

  <div class="m-4 overflow-x-auto mt-8">
    <div
      class="flex flex-row space-x-2 justify-center p-4 rounded-lg bg-primary mb-4"
      *ngIf="loading == false"
    >
      <div
        class="rounded-full bg-customRed w-8 flex flex-col items-center justify-center"
      >
        <img src="assets/img/svg/fifagame.svg" class="w-4" />
      </div>
      <span class="text-white">Matchs joués (FIFA)</span>
    </div>

    <div class="mt-4 flex flex-col space-y-4" *ngIf="loading == false">
      <app-fifa-game-history-card
        *ngFor="let game of games"
        [game]="game"
        [admin]="isAdmin"
      ></app-fifa-game-history-card>
    </div>
  </div>
</section>
