<div
  class="mt-4 flex animate-fade flex-row items-center justify-center rounded-lg border border-l-2 border-r-2 border-y-white border-l-frenchBlue border-r-frenchRed bg-bgLight p-4 drop-shadow-lg dark:border-2 dark:bg-bgDark"
>
  <fa-icon
    *ngIf="five == false && lol == false"
    [icon]="icon"
    class="text-2xl text-primary dark:text-primaryDark"
  ></fa-icon>

  <img
    src="assets/img/fifa/teams/115519.png"
    class="w-8"
    *ngIf="five == true"
  />

  <img src="assets/img/svg/lol.svg" class="h-8 w-8" *ngIf="lol == true" />

  <span class="ml-4 text-2xl text-primary dark:text-primaryDark">{{
    title
  }}</span>
</div>
