<div
  class="animate-fade text-primary dark:text-primaryDark bg-bgLight/40 dark:bg-bgDark/40 mt-4 mb-4 flex cursor-pointer flex-row items-center justify-center rounded-lg p-4 backdrop-blur-sm backdrop-contrast-100 backdrop-saturate-100 backdrop-filter"
>
  <fa-icon
    *ngIf="five == false && lol == false"
    [icon]="icon"
    class="text-primary dark:text-primaryDark text-2xl"
  ></fa-icon>

  <img
    src="assets/img/fifa/teams/115519.png"
    class="w-8"
    *ngIf="five == true"
  />

  <img src="assets/img/svg/lol.svg" class="h-8 w-8" *ngIf="lol == true" />

  <span class="text-primary dark:text-primaryDark ml-4 text-2xl">{{
    title
  }}</span>
</div>
