<div class="animate-fade flex justify-between px-4">
  <span class="text-primary dark:text-primaryDark text-lg font-semibold"
    >Édition tournoi
  </span>
  <app-loading-spinner-tiny *ngIf="loading == true"></app-loading-spinner-tiny>
</div>

<section class="bg-bgDarker mt-4 space-x-4 px-4">
  <div class="animate-fade flex flex-col items-center">
    <form
      [formGroup]="editTournamentForm"
      class="flex w-full flex-col space-y-4"
    >
      <div class="bg-bgLight dark:bg-bgDark rounded-lg p-8">
        <div class="group relative z-0 mb-6 w-full">
          <input
            type="text"
            id="name"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="name"
          />
          <label
            for="name"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Nom
            <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <textarea
            type="text"
            id="description"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="description"
            maxlength="5000"
            required
          ></textarea>
          <label
            for="description"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Description
            <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <label
            for="state"
            class="mb-2 block text-sm font-medium text-gray-400"
          >
            État
          </label>

          <select
            id="state"
            formControlName="state"
            class="border-secondary block w-full rounded-lg border bg-gray-800/40 p-2.5 text-sm text-white focus:border-blue-500 focus:ring-blue-500"
          >
            <option
              *ngFor="let state of states"
              value="{{ state.value }}"
              selected
            >
              {{ state.label }}
            </option>
          </select>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="text"
            id="logoUrl"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="logoUrl"
          />
          <label
            for="logoUrl"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            URL du logo
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="text"
            id="phase2ChallongeUrl"
            class="peer text-primary focus:border-secondary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="phase2ChallongeUrl"
          />
          <label
            for="phase2ChallongeUrl"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            URL du Challonge (Phase 2)
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="number"
            min="0"
            id="winnerId"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="winnerId"
          />
          <label
            for="winnerId"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Identifiant du gagnant
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="date"
            id="plannedFrom"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="plannedFrom"
          />
          <label
            for="plannedFrom"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Planifié du
            <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="date"
            id="plannedTo"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="plannedTo"
          />
          <label
            for="plannedTo"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Au
            <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="number"
            min="-100"
            id="winPoints"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="winPoints"
          />
          <label
            for="winPoints"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Score lors d'une victoire <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="number"
            min="-100"
            id="loosePoints"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="loosePoints"
          />
          <label
            for="loosePoints"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Score lors d'une défaite <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <input
            type="number"
            min="-100"
            id="drawPoints"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="drawPoints"
          />
          <label
            for="drawPoints"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-300 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Score lors d'un nul <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mb-6 w-full">
          <textarea
            type="text"
            id="rules"
            class="peer focus:border-secondary text-primary dark:text-primaryDark block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            formControlName="rules"
            maxlength="5000"
            required
          ></textarea>
          <label
            for="rules"
            class="peer-focus:text-secondary absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium"
          >
            Règles (HTML)
            <span class="text-customRed">*</span>
          </label>
        </div>

        <div class="group relative z-0 mt-6 mb-6 w-full">
          <label
            for="featured"
            class="mb-2 block scale-100 text-sm font-medium text-gray-400"
          >
            Mis en avant
          </label>

          <input type="checkbox" formControlName="featured" />
        </div>

        <button
          (click)="editTournament()"
          class="bg-customYellow focus:ring-customYellow w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-yellow-800 focus:ring-4 focus:outline-none"
        >
          Modifier
        </button>
      </div>
    </form>
  </div>
</section>

<div class="mt-4 flex flex-col items-center">
  <table
    class="mt-4 w-2/3 text-left text-sm text-gray-400"
    *ngIf="loading == false && tournament != null"
  >
    <thead class="bg-primary text-xs text-white uppercase">
      <tr>
        <th scope="col" class="px-6 py-3">#</th>
        <th scope="col" class="px-6 py-3">Nom</th>
        <th scope="col" class="px-6 py-3">Pseudo</th>
        <th scope="col" class="px-6 py-3">Équipe</th>
        <th scope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-secondaryDarker border-secondary border-b text-white"
        *ngFor="let player of tournament.players"
      >
        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
          {{ player.player.id }}
        </th>
        <td class="px-6 py-4">{{ player.player.fullName }}</td>
        <td class="px-6 py-4">
          {{ player.player.nickname }}
        </td>
        <td class="px-6 py-4">
          {{ player.team.name }}
        </td>
        <td class="flex flex-row px-6 py-4">
          <button (click)="deleteUser(player.player.id)">
            <img src="assets/img/svg/trash.svg" class="w-8" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
