<div class="flex flex-row items-center text-xs md:text-sm">
  <div
    class="border-r-2 mr-2 flex flex-col w-16 md:w-20 items-center"
    [class.border-customGreen]="score1 > score2 && isPlayed == true"
    [class.border-customRed]="score1 < score2 && isPlayed == true"
    [class.border-secondaryDarker]="score1 == score2 && isPlayed == true"
    [class.border-white]="isPlayed == false"
  >
    <img
      *ngIf="team.fifaTeamId != null && team.fifaTeamId != 0"
      class="w-8 md:w-12 mt-2"
      src="assets/img/fifa/teams/{{ team.fifaTeamId }}.png"
    />
    <p class="text-xs mb-2">{{ team.code }}</p>
  </div>
  <div class="flex-grow py-2 md:ml-2">
    <a
      class="block"
      href="/player/{{ player.id }}"
      *ngFor="let player of team.players"
    >
      {{ player.fullName }}
    </a>
  </div>

  <div class="px-2 w-8 md:w-12 lg:w-16 text-center">
    <span class="inline-block" *ngIf="isPlayed">{{ score1 }}</span>
  </div>
</div>
