<div
  class="flex flex-row w-full bg-white rounded-lg items-center border border-gray-300 drop-shadow-lg"
>
  <div class="flex flex-col flex-grow">
    <div class="flex flex-row items-center text-xs">
      <div class="border-r-2 mr-2 text-center border-gray-300">
        <span class="inline-block mx-2 w-11 md:w-16">Équipe</span>
      </div>
      <div class="flex-grow py-2">
        <p>Joueurs</p>
      </div>
      <div class="px-2">
        <span class="inline-block">Score</span>
      </div>
    </div>
  </div>
</div>
