<!-- <section
  class="mt-4 flex flex-col items-center justify-center px-4 dark:text-white"
  id="notfound"
>
  <div
    class="bg-bgLight dark:bg-bgDark flex flex-col items-center rounded-lg p-4 drop-shadow-lg"
  >
    <div>
      <span class="border-secondary block rounded-lg border-2 px-6 py-3">
        Vous cherchez quelque chose ?
      </span>
    </div>

    <div class="mt-8 flex flex-col items-center">
      <img src="assets/img/svg/not-found.svg" class="w-64" />
      <span
        class="mt-3 block pr-2 text-center font-semibold lg:mt-10 lg:text-xl"
      >
        Il semblerait que vous avez trouvé un lien invalide sur notre site. Il
        faut savoir que notre développeur fait tout son possible pour combler
        les trous dans la raquette. Désolé pour le dérangement ! N'hésitez pas à
        le contacter pour signaler ces petites anomalies sur
        <a href="https://valentinvirot.fr" target="_blank" class="underline">
          son portfolio
        </a>
        !
      </span>

      <a
        routerLink=""
        class="border-secondary mt-8 block w-36 rounded-lg border bg-gray-800/40 p-4 text-center lg:w-48"
      >
        Accueil
      </a>
    </div>
  </div>
</section> -->
