<div
  class="flex w-full animate-fade cursor-pointer justify-between rounded-lg bg-bgLight p-2 drop-shadow-lg dark:bg-bgDark"
  [routerLink]="['/fifa/details', game.id]"
>
  <div class="align-center flex w-2/5 flex-col items-center justify-center">
    <img
      *ngIf="game.team1.fifaTeamId != null && game.team1.fifaTeamId != 0"
      src="assets/img/fifa/teams/{{ game.team1.fifaTeamId }}.png"
      class="h-8 w-8 rounded-full"
    />

    <span
      *ngFor="let player of game.team1.players"
      class="text-xs font-semibold text-primary dark:text-primaryDark"
      >{{ player.nickname }}</span
    >
  </div>

  <div class="flex flex-col items-center justify-center text-center">
    <span
      *ngIf="game != null && game.isPlayed == false"
      class="text-gray-500 dark:text-gray-300"
      >Planifié</span
    >

    <span
      *ngIf="game != null && game.isPlayed == true"
      class="font-semibold text-primary dark:text-primaryDark"
      >{{ game.team1.score }} - {{ game.team2.score }}</span
    >

    <span
      *ngIf="game != null && game.isPlayed == true"
      class="text-xs text-gray-500 dark:text-gray-300"
      >{{ game.platform }}</span
    >
  </div>

  <div class="flex w-2/5 flex-col items-center justify-center">
    <img
      *ngIf="game.team2.fifaTeamId != null && game.team2.fifaTeamId != 0"
      src="assets/img/fifa/teams/{{ game.team2.fifaTeamId }}.png"
      class="h-8 w-8 rounded-full"
    />

    <span
      *ngFor="let player of game.team2.players"
      class="text-xs font-semibold text-primary dark:text-primaryDark"
      >{{ player.nickname }}</span
    >
  </div>
</div>
