<section
  class="flex flex-col items-center md:px-6 lg:px-32 xl:px-64 justify-center text-white h-screen"
  id="my-dashboard">
  <div class="mt-4" role="status" *ngIf="loading == true">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div
    class="flex flex-col items-center lg:items-start bg-gray-800/40 p-4 lg:p-8 rounded-lg backdrop-blur-lg"
    *ngIf="loading == false && player != null">
    <app-player-details-card [player]="player"></app-player-details-card>
  </div>

  <div class="home-nav-btn flex w-full justify-center mt-4">
    <app-arrow-btn link="/player/me#update-profile"></app-arrow-btn>
  </div>
</section>

<app-update-player
  *ngIf="loading == false"
  [player]="player"></app-update-player>
