<app-loading-spinner
  *ngIf="loading == true"
  [@inOutAnimation]
></app-loading-spinner>

<section id="profile-popups" class="px-4 mt-4">
  <app-success-alert
    *ngIf="showSuccess == true"
    [text]="'Mise à jour réussie !'"
    [(show)]="showSuccess"
    [@inOutAnimation]
  ></app-success-alert>
</section>

<section
  id="profile-head"
  class="px-4 mt-4"
  *ngIf="loading == false && (player$ | async) as currentPlayer"
  [@inOutAnimation]
>
  <app-success-alert
    *ngIf="showSuccess == true"
    [text]="'Mise à jour réussie !'"
    [(show)]="showSuccess"
    [@inOutAnimation]
  ></app-success-alert>

  <div class="flex flex-col items-center w-full justify-center">
    <img
      class="rounded-full w-32 drop-shadow-lg"
      *ngIf="currentPlayer.profilePictureUrl != null"
      src="{{ currentPlayer.profilePictureUrl }}"
    />

    <img
      class="rounded-full w-32 drop-shadow-lg"
      *ngIf="currentPlayer.profilePictureUrl == null"
      src="assets/img/gameon-logo.webp"
    />

    <span class="text-xl font-semibold mt-2">{{ currentPlayer.nickname }}</span>
    <span class="text-gray-500">{{ currentPlayer.fullName }}</span>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between"
  [@inOutAnimation]
  *ngIf="
    loading == false && isAdmin == true && (player$ | async) as currentPlayer
  "
>
  <span class="text-lg font-semibold">Administration</span>
</div>

<section
  id="player-admin"
  class="px-4 mt-4"
  *ngIf="
    loading == false && isAdmin == true && (player$ | async) as currentPlayer
  "
  [@inOutAnimation]
>
  <div class="bg-white p-4 rounded-lg text-sm drop-shadow-lg">
    <div
      class="flex flex-row justify-between text-customRed cursor-pointer"
      [routerLink]="['/admin']"
    >
      <a
        ><fa-icon [icon]="adminIcon" class="mr-2"></fa-icon> Accéder à l'espace
        d'administration
      </a>

      <fa-icon [icon]="arrowRightIcon"></fa-icon>
    </div>

    <hr class="my-4" />

    <div
      class="flex flex-row justify-between text-customYellow cursor-pointer"
      [cdkCopyToClipboard]="token"
    >
      <a><fa-icon [icon]="keyIcon" class="mr-2"></fa-icon> Copier le token </a>

      <fa-icon [icon]="externalIcon"></fa-icon>
    </div>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between"
  [@inOutAnimation]
  *ngIf="loading == false && (player$ | async) as currentPlayer"
>
  <span class="text-lg font-semibold">FIFA</span>
</div>

<section
  id="player-fifa"
  class="px-4 mt-4"
  *ngIf="loading == false && (player$ | async) as currentPlayer"
  [@inOutAnimation]
>
  <div class="bg-white p-4 rounded-lg text-sm drop-shadow-lg">
    <div
      class="flex flex-row justify-between cursor-pointer"
      [routerLink]="['/player', currentPlayer.id]"
    >
      <a
        ><fa-icon [icon]="soccerIcon" class="mr-2"></fa-icon> Mes
        statistiques</a
      >

      <fa-icon [icon]="arrowRightIcon"></fa-icon>
    </div>
  </div>
</section>

<div
  class="px-4 mt-4 flex justify-between"
  [@inOutAnimation]
  *ngIf="loading == false && (player$ | async) as currentPlayer"
>
  <span class="text-lg font-semibold">Préférences</span>
</div>

<section
  id="player-preferences"
  class="px-4 mt-4"
  *ngIf="loading == false && (player$ | async) as currentPlayer"
  [@inOutAnimation]
>
  <div class="bg-white p-4 rounded-lg text-sm drop-shadow-lg">
    <div class="flex flex-row justify-between cursor-pointer">
      <span
        ><fa-icon [icon]="calendarIcon" class="mr-2"></fa-icon>
        {{ currentPlayer.createdOn | date : "medium" }}</span
      >
    </div>

    <hr class="my-4" />

    <form [formGroup]="updatePlayerForm">
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          id="fullname"
          class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
          required
          formControlName="fullName"
        />
        <label
          for="fullname"
          class="peer-focus:font-medium absolute text-sm text-gray-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Nom complet
          <span class="text-customRed">*</span>
        </label>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          id="nickname"
          class="block py-2.5 px-0 w-full text-sm text-primary bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
          required
          formControlName="nickname"
        />
        <label
          for="nickname"
          class="peer-focus:font-medium absolute text-sm text-gray-600 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Pseudo
          <span class="text-customRed">*</span>
        </label>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          id="profilePictureUrl"
          class="block py-2.5 px-0 w-full text-sm text-primary bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
          required
          formControlName="profilePictureUrl"
        />
        <label
          for="profilePictureUrl"
          class="peer-focus:font-medium absolute text-sm text-gray-600 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Photo de profil (URL)
          <span class="text-customRed">*</span>
        </label>
      </div>

      <button
        (click)="updateUser()"
        class="text-customGreen hover:text-white transition ease-in-out delay-50 border border-customGreen bg-white hover:bg-customGreen focus:ring-4 focus:outline-none focus:ring-customGreen rounded-lg text-sm w-full px-5 py-2.5 text-center"
      >
        Mettre à jour
      </button>
    </form>

    <hr class="my-4" />

    <div
      class="flex flex-row justify-between text-customRed cursor-pointer"
      (click)="logout()"
    >
      <a><fa-icon [icon]="logoutIcon" class="mr-2"></fa-icon> Déconnexion </a>

      <fa-icon [icon]="arrowRightIcon"></fa-icon>
    </div>
  </div>
</section>
