<div
  [@inOutAnimation]
  *ngIf="loading == true"
  class="flex flex-row items-center p-4 rounded-lg bg-primary m-8 md:mx-16 lg:mx-32 text-white neomorphism-primaryDarker"
>
  <app-loading-spinner></app-loading-spinner>
  <span class="text-white">Chargement...</span>
</div>

<app-success-alert
  *ngIf="showSuccess == true"
  [text]="'Mise à jour réussie !'"
  [(show)]="showSuccess"
  [@inOutAnimation]
></app-success-alert>

<div
  *ngIf="loading == false && (player$ | async) as currentPlayer"
  [@inOutAnimation]
  class="flex flex-col items-center bg-primary p-4 rounded-lg m-8 md:mx-16 lg:mx-32 text-white"
>
  <div
    class="flex flex-col md:flex-row items-center w-full bg-primaryDarker p-4 rounded-lg neomorphism-inner-primaryDarker"
  >
    <img
      class="rounded-full w-32"
      src="{{ currentPlayer.profilePictureUrl }}"
    />

    <div class="flex flex-col w-full ml-4 mt-6">
      <div class="flex flex-col">
        <div class="flex flex-row">
          <span>{{ currentPlayer.fullName }}</span>
          <a
            *ngIf="isAdmin == true"
            [routerLink]="['/admin']"
            class="text-xs py-1 px-2 ml-2 transition ease-in-out delay-50 bg-yellow-500 rounded-full hover:bg-yellow-800"
          >
            Administrateur
          </a>
        </div>

        <span class="italic">{{ currentPlayer.nickname }}</span>
      </div>
      <div
        class="w-full text-sm font-medium text-center text-white border-b border-white"
      >
        <ul class="flex flex-wrap -mb-px">
          <li class="mr-2">
            <button
              (click)="currentTab = 'profile'"
              [classList]="
                currentTab == 'profile'
                  ? 'inline-block p-4 text-secondary border-b-2 border-secondary rounded-t-lg active'
                  : 'transition ease-in-out delay-50 inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-secondary hover:border-secondary'
              "
              class="inline-block p-4 text-secondary border-b-2 border-secondary rounded-t-lg active"
            >
              Résumé
            </button>
          </li>

          <li class="mr-2">
            <button
              (click)="currentTab = 'update'"
              [classList]="
                currentTab == 'update'
                  ? 'inline-block p-4 text-secondary border-b-2 border-secondary rounded-t-lg active'
                  : 'transition ease-in-out delay-50 inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-secondary hover:border-secondary'
              "
              class="inline-block p-4 text-secondary border-b-2 border-secondary rounded-t-lg active"
            >
              Mettre à jour
            </button>
          </li>

          <!-- <li class="mr-2">
          <a
            href="#"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
            Settings
          </a>
        </li>

        <li>
          <a
            class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">
            Disabled
          </a>
        </li> -->
        </ul>
      </div>
    </div>
  </div>

  <div
    class="bg-primaryDarker w-full mt-4 rounded-lg p-4 flex flex-col items-center neomorphism-inner-primaryDarker"
  >
    <app-profile-tab
      class="w-full"
      *ngIf="
        currentTab == 'profile' &&
        loading == false &&
        (player$ | async) as currentPlayer
      "
      [player]="currentPlayer"
    ></app-profile-tab>

    <app-update-player-tab
      class="w-full"
      *ngIf="
        currentTab == 'update' &&
        loading == false &&
        (player$ | async) as currentPlayer
      "
      [(successMessage)]="showSuccess"
      [player]="currentPlayer"
    ></app-update-player-tab>
  </div>
</div>
