<section class="bg-bgDarker h-screen px-4 pt-4">
  @if (loading == true) {
    <app-loading-spinner
      [@inOutAnimation]
    ></app-loading-spinner>
  }

  <div class="m-4 mt-8 overflow-x-auto">
    @if (loading == false) {
      <div
        class="mb-4 flex flex-row justify-center space-x-2 rounded-lg bg-primary p-4"
        >
        <div
          class="flex w-8 flex-col items-center justify-center rounded-full bg-customRed"
          >
          <img src="assets/img/svg/fifagame.svg" class="w-4" />
        </div>
        <span class="text-white">Matchs joués (FIFA)</span>
      </div>
    }

    @if (loading == false) {
      <div class="mt-4 flex flex-col space-y-4">
        @for (game of games; track game) {
          <app-fifa-game-history-card
            [game]="game"
            [admin]="isAdmin"
          ></app-fifa-game-history-card>
        }
      </div>
    }
  </div>
</section>
