<section id="home-top-pills" class="px-4 bg-bgLightDarker dark:bg-bgDarkDarker">
  <div class="flex justify-between pt-4">
    <div class="flex space-x-2">
      <app-pill [title]="currentSeasonTitle" [bgStyle]="'secondary'"></app-pill>

      <app-pill
        *ngFor="let tournament of tournaments"
        [title]="tournament.name"
        [showExternalIcon]="true"
        [icon]="tournamentIcon"
        [iconColor]="'text-frenchRed'"
        [iconPulsate]="true"
        [borderStyle]="'red'"
        [routerLink]="['/fifa/tournaments', tournament.id]"
      ></app-pill>
    </div>

    <app-pill
      [title]="'Nouveautés'"
      [showExternalIcon]="true"
      [borderStyle]="'primary'"
      routerLink="/changelog"
    ></app-pill>
  </div>
</section>

<section id="home-cards" class="px-4 dark:bg-bgDarkDarker animate-fade-up">
  <div
    class="flex flex-col justify-between px-4 text-white drop-shadow-lg font-bold mt-4 aspect-video welcome-card rounded-lg cursor-pointer"
    routerLink="/lol"
  >
    <span class="w-full text-left mt-2"
      >Accéder à l'espace League of Legends !</span
    >
    <span class="w-full text-right text-sm mb-2">v{{ version }}</span>
  </div>
</section>

<section
  id="profile-details"
  class="px-4 mt-4 flex space-x-2"
  *ngIf="isLoggedIn == true"
>
  <div
    class="bg-bgLight dark:bg-bgDark drop-shadow-lg rounded-lg px-8 py-2 flex flex-col space-y-2 items-center justify-center animate-fade-right cursor-pointer"
    *ngIf="this.player$ | async as player"
    routerLink="/player/me"
  >
    <img
      class="rounded-full"
      *ngIf="player.profilePictureUrl != null && player.profilePictureUrl != ''"
      src="{{ player.profilePictureUrl }}"
      width="64"
    />

    <img
      class="rounded-full drop-shadow-lg"
      *ngIf="player.profilePictureUrl == null || player.profilePictureUrl == ''"
      src="assets/img/gameon-logo.webp"
      width="64"
    />

    <span class="text-primary dark:text-primaryDark">{{
      player.nickname
    }}</span>
  </div>

  <div
    class="bg-bgLight dark:bg-bgDark drop-shadow-lg rounded-lg px-8 py-2 flex flex-col space-y-2 w-full animate-fade-left"
    *ngIf="this.globalStats$ | async as globalStats"
  >
    <app-fifa-stat
      [stat]="globalStats"
      *ngIf="globalStats != null"
    ></app-fifa-stat>
  </div>
</section>

<section id="login-details" *ngIf="isLoggedIn == false" class="cursor-pointer">
  <app-info-message
    [icon]="infoIcon"
    [type]="'info'"
    [title]="'Connectez-vous pour profiter d\'une experience personalisée !'"
    routerLink="/player/me"
  >
  </app-info-message>
</section>

<section
  id="home-planned-matches"
  *ngIf="isLoggedIn == true"
  class="animate-fade-up"
>
  <div class="px-4 mt-4 flex justify-between items-center">
    <span
      class="text-lg font-semibold text-primary dark:text-primaryDark"
      *ngIf="loadingPlannedMatches == true || plannedMatches.length > 0"
      >Mes prochains matchs</span
    >

    <app-loading-spinner-tiny
      *ngIf="loadingPlannedMatches == true"
    ></app-loading-spinner-tiny>
  </div>

  <div
    *ngIf="loadingPlannedMatches == false && plannedMatches.length > 0"
    class="mt-4 px-4"
  >
    <div class="mt-4 flex flex-col w-full space-y-4">
      <app-fifa-game-history-card
        *ngFor="let game of plannedMatches"
        [game]="game"
      ></app-fifa-game-history-card>
    </div>
  </div>
</section>

<section
  id="home-last-matches"
  class="animate-fade-up"
  *ngIf="isLoggedIn == true"
>
  <div class="px-4 mt-4 flex justify-between items-center">
    <span class="text-lg font-semibold text-primary dark:text-primaryDark"
      >Mes derniers matchs joués</span
    >

    <app-loading-spinner-tiny
      *ngIf="loadingLastPlayerMatches == true"
    ></app-loading-spinner-tiny>
  </div>

  <div *ngIf="loadingLastPlayerMatches == false" class="mt-4 px-4">
    <div class="mt-4 flex flex-col w-full space-y-4">
      <app-fifa-game-history-card
        *ngFor="let game of lastPlayerMatches"
        [game]="game"
      ></app-fifa-game-history-card>
    </div>
  </div>
</section>

<section
  id="home-last-matches"
  class="animate-fade-up"
  *ngIf="isLoggedIn == false"
>
  <div class="px-4 mt-4 flex justify-between items-center">
    <span class="text-lg font-semibold text-primary dark:text-primaryDark"
      >Derniers matchs joués</span
    >

    <app-loading-spinner-tiny
      *ngIf="loadingLastMatches == true"
    ></app-loading-spinner-tiny>
  </div>

  <div *ngIf="loadingLastMatches == false" class="mt-4 px-4">
    <div class="mt-4 flex flex-col w-full space-y-4">
      <app-fifa-game-history-card
        *ngFor="let game of lastMatches"
        [game]="game"
      ></app-fifa-game-history-card>
    </div>
  </div>
</section>

<section id="home-players" class="px-4 mt-4 py-4 animate-fade-up">
  <div class="flex justify-between items-center">
    <span class="text-lg font-semibold text-primary dark:text-primaryDark"
      >Joueurs actifs</span
    >

    <app-loading-spinner-tiny
      *ngIf="loadingActivePlayers == true"
    ></app-loading-spinner-tiny>
  </div>

  <div *ngIf="loadingActivePlayers == false" class="mt-4">
    <app-player-card
      ng-if="players.length > 0"
      *ngFor="let player of players"
      [player]="player"
    ></app-player-card>
  </div>
</section>
